<div>
  <form #addressinfoForm = "ngForm" [rxwebForm]="addressinfoForm" [model]="addressinfo">
    <div class="form-group">
      <label>Country Name</label>
	    <input type="text" name="countryName" [(ngModel)]="addressinfo.countryName"  class="form-control" />

	   <small class="form-text text-danger" *ngIf="addressinfoForm.controls?.countryName?.errors">{{addressinfoForm.controls?.countryName?.errors?.alpha.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>City</label>
	    <input type="text" name="cityName" [(ngModel)]="addressinfo.cityName"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'City' then you need to add 'Country Name' input as 'India'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="addressinfoForm.controls?.cityName?.errors">{{addressinfoForm.controls?.cityName?.errors?.alpha.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>SpanishCityName</label>
	    <input type="text" name="spanishcityName" [(ngModel)]="addressinfo.spanishcityName"  class="form-control" />

      <small class="form-text text-muted">It will allow spanish characters in the formControl<br/></small>
	   <small class="form-text text-danger" *ngIf="addressinfoForm.controls?.spanishcityName?.errors">{{addressinfoForm.controls?.spanishcityName?.errors?.alpha.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>State Name</label>
	    <input type="text" name="stateName" [(ngModel)]="addressinfo.stateName"  class="form-control" />

      <small class="form-text text-muted">This allowed whitespace in alpha validation<br/></small>
	   <small class="form-text text-danger" *ngIf="addressinfoForm.controls?.stateName?.errors">{{addressinfoForm.controls?.stateName?.errors?.alpha.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>State Code</label>
	    <input type="text" name="stateCode" [(ngModel)]="addressinfo.stateCode"  class="form-control" />

      <small class="form-text text-muted">Shows custom message<br/></small>
	   <small class="form-text text-danger" *ngIf="addressinfoForm.controls?.stateCode?.errors">{{addressinfoForm.controls?.stateCode?.errors?.alpha.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>City Code</label>
	    <input type="text" name="cityCode" [(ngModel)]="addressinfo.cityCode"  class="form-control" />

      <small class="form-text text-muted">custom message based on messageKey<br/></small>
	   <small class="form-text text-danger" *ngIf="addressinfoForm.controls?.cityCode?.errors">{{addressinfoForm.controls?.cityCode?.errors?.alpha.message}}<br/></small>	
    </div>
    <button [disabled]="!addressinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
