<app-top-bar [sidebarLinks]="rightSidebarLinks"></app-top-bar>
<div class="title-bar top_title">
  <p>Date</p>
</div>
<div class="title-bar">
  <p>Sanitize your date input using rxweb <b>sanitizers</b>.</p>
</div>

<div class="bg-white border-radius" style="margin-top:40px;" *ngIf="sanitize.raw">
  <div class="row col-style">
    <div class="col-text-style"><span class="col-hash-text-teal" data-toggle="tooltip"
        title="Now easily internationalize your date input using me! 😍" data-placement="top"><i
          class="fa fa-info-circle" aria-hidden="true"></i> </span>Dynamic Value
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-8">
      <div class="row ">
        <div class="col-md-2">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="v-pills-profile-dateDynamicValue-tab" style="font-size: 11px;" data-toggle="pill"
              href="#v-pills-profile-dateDynamicValue" role="tab" aria-controls="v-pills-profile-dateDynamicValue"
              aria-selected="false">sanitize/en.json</a>
            <a class="nav-link" style="font-size: 11px;" id="v-pills-component-dateDynamicValue-tab"
              data-toggle="pill" href="#v-pills-component-dateDynamicValue" role="tab"
              aria-controls="v-pills-component-dateDynamicValue" aria-selected="false">*.component.ts</a>
            <a class="nav-link active" style="font-size: 11px;" id="v-pills-messages-dateDynamicValue-tab" data-toggle="pill"
              href="#v-pills-messages-dateDynamicValue" role="tab" aria-controls="v-pills-messages-dateDynamicValue"
              aria-selected="false">*.component.html</a>
          </div>
        </div>
        <div class="col-md-10 remove-col-padding">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade" id="v-pills-profile-dateDynamicValue" role="tabpanel"
              aria-labelledby="v-pills-profile-dateDynamicValue-tab">
              <div class="code-section p-0">
                <app-code-display innerHtml="json" [item]="examples.dateDynamicValue"></app-code-display>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-component-dateDynamicValue" role="tabpanel"
              aria-labelledby="v-pills-component-dateDynamicValue-tab">
              <div class="code-section p-0">
                <!-- <pre class="pre-code ngx-pre-code"><code [innerHtml]="html"></code></pre> -->
                <app-code-display innerHtml="typescript" [item]="examples.dateDynamicValue"></app-code-display>
              </div>
            </div>
            <div class="tab-pane fade show active" id="v-pills-messages-dateDynamicValue" role="tabpanel"
              aria-labelledby="v-pills-messages-dateDynamicValue-tab">
              <div class="code-section p-0">
                <app-code-display innerHtml="html" [item]="examples.dateDynamicValue"></app-code-display>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 remove-col-padding">
      <div>
        <div class="code_eg">Output</div>
        <div class="ngx-output">
          <span class="badge badge-{{sanitize.languageCode}}">{{sanitize.dateDynamicValue}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-style">
    <div class="col-text-style"><span class="col-hash-text-teal" data-toggle="tooltip"
        title="Now easily internationalize your date input using me! 😍" data-placement="top"><i
          class="fa fa-info-circle" aria-hidden="true"></i> </span>Dynamic Param
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-8">
      <div class="row ">
        <div class="col-md-2">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="v-pills-profile-dateDynamicValue-tab" style="font-size: 11px;" data-toggle="pill"
              href="#v-pills-profile-dateDynamicParam" role="tab" aria-controls="v-pills-profile-dateDynamicParam"
              aria-selected="false">sanitize/en.json</a>
            <a class="nav-link" style="font-size: 11px;" id="v-pills-component-dateDynamicParam-tab"
              data-toggle="pill" href="#v-pills-component-dateDynamicParam" role="tab"
              aria-controls="v-pills-component-dateDynamicParam" aria-selected="false">*.component.ts</a>
            <a class="nav-link active" style="font-size: 11px;" id="v-pills-messages-dateDynamicParam-tab" data-toggle="pill"
              href="#v-pills-messages-dateDynamicParam" role="tab" aria-controls="v-pills-messages-dateDynamicParam"
              aria-selected="false">*.component.html</a>
          </div>
        </div>
        <div class="col-md-10 remove-col-padding">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade" id="v-pills-profile-dateDynamicParam" role="tabpanel"
              aria-labelledby="v-pills-profile-dateDynamicParam-tab">
              <div class="code-section p-0">
                <app-code-display innerHtml="json" [item]="examples.dateDynamicParam"></app-code-display>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-component-dateDynamicParam" role="tabpanel"
              aria-labelledby="v-pills-component-dateDynamicParam-tab">
              <div class="code-section p-0">
                <!-- <pre class="pre-code ngx-pre-code"><code [innerHtml]="html"></code></pre> -->
                <app-code-display innerHtml="typescript" [item]="examples.dateDynamicParam"></app-code-display>
              </div>
            </div>
            <div class="tab-pane fade show active" id="v-pills-messages-dateDynamicParam" role="tabpanel"
              aria-labelledby="v-pills-messages-dateDynamicParam-tab">
              <div class="code-section p-0">
                <app-code-display innerHtml="html" [item]="examples.dateDynamicParam"></app-code-display>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 remove-col-padding">
      <div>
        <div class="code_eg">Output</div>
        <div class="ngx-output">
          <span class="badge badge-{{sanitize.languageCode}}">{{sanitize.dateStaticParam}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-style">
    <div class="col-text-style"><span class="col-hash-text-teal" data-toggle="tooltip"
        title="Now easily internationalize your date input using me! 😍" data-placement="top"><i
          class="fa fa-info-circle" aria-hidden="true"></i> </span>Dynamic Param
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-8">
      <div class="row ">
        <div class="col-md-2">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="v-pills-profile-dynamicParam-tab" style="font-size: 11px;" data-toggle="pill"
              href="#v-pills-profile-dynamicParam" role="tab" aria-controls="v-pills-profile-dynamicParam"
              aria-selected="false">sanitize/en.json</a>
            <a class="nav-link" style="font-size: 11px;" id="v-pills-component-dynamicParam-tab"
              data-toggle="pill" href="#v-pills-component-dynamicParam" role="tab"
              aria-controls="v-pills-component-dynamicParam" aria-selected="false">*.component.ts</a>
            <a class="nav-link active" style="font-size: 11px;" id="v-pills-messages-dynamicParam-tab" data-toggle="pill"
              href="#v-pills-messages-dynamicParam" role="tab" aria-controls="v-pills-messages-dynamicParam"
              aria-selected="false">*.component.html</a>
          </div>
        </div>
        <div class="col-md-10 remove-col-padding">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade" id="v-pills-profile-dynamicParam" role="tabpanel"
              aria-labelledby="v-pills-profile-dynamicParam-tab">
              <div class="code-section p-0">
                <app-code-display innerHtml="json" [item]="examples.dynamicParam"></app-code-display>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-component-dynamicParam" role="tabpanel"
              aria-labelledby="v-pills-component-dynamicParam-tab">
              <div class="code-section p-0">
                <!-- <pre class="pre-code ngx-pre-code"><code [innerHtml]="html"></code></pre> -->
                <app-code-display innerHtml="typescript" [item]="examples.dynamicParam"></app-code-display>
              </div>
            </div>
            <div class="tab-pane fade show active" id="v-pills-messages-dynamicParam" role="tabpanel"
              aria-labelledby="v-pills-messages-dynamicParam-tab">
              <div class="code-section p-0">
                <app-code-display innerHtml="html" [item]="examples.dynamicParam"></app-code-display>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 remove-col-padding">
      <div>
        <div class="code_eg">Output</div>
        <div class="ngx-output">
          <span class="badge badge-{{sanitize.languageCode}}">{{sanitize.dateDynamicParam}}</span>
        </div>
      </div>
    </div>
  </div>
</div>