<header class="header">
	<div class="row">
		<div class="col-sm-2 logo space-left-sidebar">
			<div class="header-link">
				<a class="rxlogo" routerlink="/home" title="rxweb" href="/home">rxweb</a>
				<div class="collapse-btn menu-open"><i aria-hidden="true" class="fa fa-angle-right"></i></div>
			</div>
		</div>
		<div class="col-sm-9 header-links content">
			<ul class="list-unstyled list-inline">
				<li class="list-inline-item"><a href="#" class="active">Learn</a></li>
				<li class="list-inline-item"><a href="#">What's New?</a></li>
				<li class="list-inline-item"><a href="#">What Next?</a></li>
				<li class="list-inline-item"><a>Help</a>
					<div class="mega-menu">
						<ul class="list-unstyled">
							<li><a href="#">Gitter (Help)</a></li>
							<li><a href="#">Forum </a></li>
							<li><a href="#">Github</a></li>
							<li><a href="#">StackOverflow</a></li>
						</ul>
				</div>
				</li>
				<li class="list-inline-item"><a>Community</a>
					<div class="mega-menu">
							<ul class="list-unstyled">
								<li><a href="#">Want to Contribute, but?</a></li>
								<li><a href="#">Contributing </a></li>
								<li><a href="#">Maintaining</a></li>
								<li><a href="#">Contributors</a></li>
								<li><a href="#">Dev Community</a></li>
							</ul>
					</div>
				</li>
				</ul>
			</div>
		</div>
		</header>
		<div class="top-title-bar">
			<div class="row">
				<div class="col-sm-2 space-left-sidebar"></div>
				<div class="col-sm-12 col-md-9">
					
						<app-title  [title]="titleData.title" [description]="titleData.description" [mainType]="titleData.mainType" [activeTab]="titleData.activeTab" [validationName]="titleData.validationName" [validatorType]="titleData.validatorType"
				            [validationTypeTitle]="titleData.validationTypeTitle" [templateDrivenType]="titleData.templateDrivenType"></app-title>
			</div>
			</div>
				</div>
		