<app-top-bar></app-top-bar>

<div class="code-component hpanel extension">
  <div class="title-bar top_title">
    <p>Feature Comparision</p>
    <div class="code_git_right"><a target="_blank"
        href="https://github.com/rxweb/rxweb/tree/master/examples/client-side/angular/ngx-translate-extension/translation-powerhouse"><i
          class="fa fa-github fa-github-icon"></i></a></div>
  </div>

  <div class="title-bar">
    <p>
      Our prima facie is to provide flexible, faster, simple translation binding and code easier to be changed when
      needed, We did it through decorators which tells our light weight package to resolve the localized text of the
      component. We are sure you will love 🤗 it all of the features 🌈 by comparing with other exemplary libraries.
      Have a look!
    </p>
  </div>
  <div class="row">
    <div class="col-lg-12 feature">
      <table class="table" width="100%">
        <thead>
          <tr>
            <th width="50%">Features</th>
            <th width="10%">Ours</th>
            <th width="10%">Transloco</th>
            <th width="15%">Angular-L10n</th>
            <th width="15%">Angular-i18next</th>
          </tr>
        </thead>
        <tbody>
          <!--Attribute Directive Feature Comparison Start-->
          <tr>
            <td colspan="5" class="feature-title"><b>Attribute Directive</b></td>
          </tr>
          <tr>
            <td class="category">Simple Multilingual Text</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Multilingual Text with Custom Parameter</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Bind the text on basis of translation name.</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Bind text on the basis of fixed language</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <!--Attribute Directive Feature Comparison End-->
          <!--Impure Pipe Feature Comparison Start-->
          <tr>
            <td colspan="5" class="feature-title"><b>Impure Pipe</b></td>
          </tr>
          <tr>
            <td class="category">Simple Multilingual Text</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
          </tr>
          <tr>
            <td class="category">Multilingual Text with Custom Parameter</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
          </tr>
          <tr>
            <td class="category">Bind the text on basis of translation name.</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Bind text on the basis of fixed language</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <!--Impure Pipe Feature Comparison End-->
          <!--Pure Pipe Feature Comparison Start-->
          <tr>
            <td colspan="5" class="feature-title"><b>Pure Pipe</b></td>
          </tr>
          <tr>
            <td class="category">Static Parameter</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Dynamic Parameter</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <!--Pure Pipe Feature Comparison End-->
          <!--Decorators Feature Comparison Start-->
          <tr>
            <td colspan="5" class="feature-title"><b>Decorator</b></td>
          </tr>
          <tr>
            <td class="category">Simple Multilingual Text</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Multilingual Text with Custom Parameter</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Conditional Text</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Reuse Text</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Inline Loader</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Async Source</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">On Demand Text Translation</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Binding by Key Name</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Bind the text on basis of translation name.</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Resolve translations based upon file path.</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>

          <tr>
            <td class="category">Fixed Multilingual Text on basis of defined language</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>

          <!--Decorator Feature Comparison End-->
          <!--Inbuild Validation Message Feature Comparison Start-->
          <tr>
            <td colspan="5" class="feature-title"><b>FormControl Validation Message</b></td>
          </tr>
          <tr>
            <td class="category">Simple Validation Message</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
          </tr>
          <tr>
            <td class="category">Validation Message with parameter interpolation</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
          </tr>
          <tr>
            <td class="category">Validation Message with array parameter interpolation</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <!--Inbuild Validation Message Feature Comparison End-->
          <!--Change Language By Feature Comparison Start-->
          <tr>
            <td colspan="5" class="feature-title"><b>Change Language By</b></td>
          </tr>
          <tr>
            <td class="category">URL</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
          </tr>
          <tr>
            <td class="category">Code</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
          </tr>
          <!--Change Language By Feature Comparison End-->
          <!--Structural Directive Feature Comparison Start-->
          <tr>
            <td colspan="5" class="feature-title"><b>Structural Directive</b></td>
          </tr>
          <tr>
            <td class="category">Content Resolution</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <!--Structural Directive Feature Comparison End-->
          <!--Intuitive Feature Comparison Start-->
          <tr>
            <td colspan="5" class="feature-title"><b>Other Intuitive Features</b></td>
          </tr>
          <tr>
            <td class="category">Automatically Set Page Title</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times available"></i></td>
          </tr>
          <tr>
            <td class="category">Resolve Content By Angular Preload Module Strategy</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <!--Structural Directive Feature Comparison End-->

          <!--Sanitizers Feature Comparison Start-->
          <tr>
            <td colspan="5" class="feature-title"><b>Sanitizers</b></td>
          </tr>
          <tr>
            <td class="category">Currency</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Date</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Decimal</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Percent</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">LowerCase</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">UpperCase</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">TitleCase</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <tr>
            <td class="category">Custom</td>
            <td class="td-pad-left "><i class="fa fa-check available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
            <td class="td-pad-left "><i class="fa fa-times not-available"></i></td>
          </tr>
          <!--Sanitizer Feature Comparison End-->
        </tbody>
      </table>
    </div>
  </div>
</div>