<div class="home_page_content d-flex align-content-center flex-wrap home_intro text-center">
    <div class="w-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="home_page_title">
                        Get More with <span style="color: #48b0e1;">Cleaner</span> Practices
                    </h1>
                    <p class="home_page_desc">More simple, faster, extensible and modular with RxWeb extensive packages! really🤔</p>
                    <div class="typeit-block" style="text-align: left!important;width: 100%;max-width: 820px;margin-bottom: 30px;  margin-top: 15px;min-height: 67px;">
                        <!-- <span style="text-align:left;color: #383b47;font-weight: bold;padding-right:15px;font-size: 20px;">Why?</span> -->
                        <span class="typeit"      style="color: #666;" id="code_change_1"></span>
                      </div>
                    <ul class="home_packages d-flex justify-content-center flex-wrap p-0">
                        <li><button class="btn" routerLink="/reactive-dynamic-forms/dynamic-forms/stepbystep" fragment="installpackage">
                            <img src="/assets/images/dynamic-reactive-form.svg"/>
                            <span>Dynamic Reactive Forms</span></button>
                        </li>
                        <li><button class="btn" routerLink="/rxweb-generics/generic-getting-started">
                            <img src="/assets/images/generics.svg"/>
                            <span>Generics</span></button>
                        </li>
                        <li><button class="btn" routerLink="/rxweb-http/http-getting-started">
                            <img src="/assets/images/http.svg"/>
                            <span>HTTP</span></button>
                        </li>
                        <li><button class="btn" routerLink="/getting-started">
                            <img src="/assets/images/react-form-validators.svg"/>
                            <span>Reactive Form Validators</span></button>
                        </li>
                        
                        <li><button class="btn" routerLink="/rxweb-sanitizers/sanitizers-getting-started">
                            <img src="/assets/images/sanitizers.svg"/>
                            <span>Sanitizers</span></button>
                        </li>
                        <li><button class="btn" routerLink="/ngx-translate-extension/getting-started">
                            <img src="/assets/images/translate.svg"/>
                            <span>Translate</span></button>
                        </li>
                        <li><button class="btn" routerLink="/strongly-typed/angular-strongly-typed">
                            <img src="/assets/images/coding.svg"/>
                            <span>Strongly Types</span></button>
                        </li>
                        <!-- <li><button class="btn" routerLink="/rxweb-router/router-getting-started">
                            <img src="/assets/images/router.svg"/>
                            <span>Router</span></button>
                        </li> -->
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

