<div class="home_page_content d-flex align-content-center flex-wrap home_intro text-center">
    <div class="w-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="home_page_title">
                        Get More with Cleaner Practices
                    </h1>
                    <p class="home_page_desc">More simple, faster, extensible and module with RxWeb extensive packages.</p>
                    
                    <ul class="home_packages d-flex justify-content-center flex-wrap p-0">
                        <li><button class="btn">
                            <img src="/assets/images/http.svg"/>
                            <span>HTTP</span></button>
                        </li>
                        <li><button class="btn">
                            <img src="/assets/images/http.svg"/>
                            <span>Reactive Form Validators</span></button>
                        </li>
                        <li><button class="btn">
                            <img src="/assets/images/http.svg"/>
                            <span>Dynamic Reactive Forms</span></button>
                        </li>
                        <li><button class="btn">
                            <img src="/assets/images/http.svg"/>
                            <span>Sanitizers</span></button>
                        </li>
                        <li><button class="btn">
                            <img src="/assets/images/http.svg"/>
                            <span>Router</span></button>
                        </li>
                        <li><button class="btn">
                            <img src="/assets/images/http.svg"/>
                            <span>Generics</span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

