<div class="home_page_content angular-page d-flex align-items-center justify-content-center">    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    <p>Clean Architecture for <span class="purpal">angular</span> with extensive packages of </p>
                    <label>
                        <span class="rotate-txt purpal">reactive forms</span>
                        <!-- <span class="rotate-txt light-blue">dynamic forms</span> -->
                    </label>
                </h1>
                <ul class="d-flex">
                    <li><button class="btn home-page-links"><span class="btn-label">Reactive Forms</span></button></li>
                    <li><button class="btn home-page-links"><span class="btn-label">Dynamic Forms</span></button></li>
                    <li><button class="btn home-page-links"><span class="btn-label">Routes</span></button></li>
                    <li><button class="btn home-page-links"><span class="btn-label">UI Components</span></button></li>
                </ul>
            </div>     
        </div> 
    </div> 
</div>