


<aside id="menu" [class.title-sticky]="sticky" >

	<div id="navigation">
		

		<div class="search-page  position-relative" *ngIf="config">
    
			<ais-instantsearch [config]="config">
				<div class="search-box position-relative">
					<ais-search-box id="search" placeholder="Search..." type="text"
						(keyup)="showsearchcontent($event,searchvalue)" #search [(ngModel)]="searchvalue"
						name="searchvalue" class="search-field search-field-focus ais-SearchBox-input" ngDefaultControl
						focus></ais-search-box>
				</div>
				
				<div id="searchlist-content1" class="search-content">
					<ais-hits>
						<ng-template let-hits="hits" let-results="results">		
							{{bindLinks(hits,searchvalue)}}
						</ng-template>
					</ais-hits>
				</div>
			</ais-instantsearch>
		</div>
		<app-link-items  [isOpen]=false  [level]="0" [links]="links"></app-link-items>
		
	</div>
</aside>