<h4 class="example-title">{{multilingualContent.pageWiseTitle}}</h4>
<form class="work-sanslight mg-left-5 form-font-size">
  <div>
    <div class="form-group row col-lg-12">
      <label class="col-sm-2 col-form-label">{{multilingualContent.text.firstName}}</label>
      <div class="col-sm-10">
        <input type="text" [placeholder]="multilingualContent.placeholder.firstName" class="form-control">
        <button class="btn only-border padding-zero margin-top-20">
          {{multilingualContent.text.create}}
        </button>
      </div>
    </div>
  </div>
</form>
