<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Full Name</label>
	    <input type="text" name="fullName" [(ngModel)]="user.fullName"  class="form-control" [rxrequired]="{'messageKey':'requiredMessageKey'}"/>

      <small class="form-text text-muted">Shows Custom Validation Message based on message key<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.fullName?.errors">{{userForm.controls?.fullName?.errors?.required.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
