<app-top-bar ></app-top-bar>
<div class="title-bar top_title">
  <p>UpperCase</p>
</div>
<div class="title-bar">
  <p>Internationalize and convert your input to upper case using <b>upperCase</b> sanitizer.</p>
</div>

<div class="bg-white border-radius" style="margin-top:40px;" *ngIf="sanitize.raw">
<div class="row col-style">
  <div class="col-text-style"><span class="col-hash-text-teal" data-toggle="tooltip"
      title="I can convert your input in lower case 😀" data-placement="top"><i class="fa fa-info-circle"
        aria-hidden="true"></i> </span>Static Value
  </div>
</div>
<div class="row col-md-12">
  <div class="col-md-8">
    <div class="row ">
      <div class="col-md-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" id="v-pills-profile-upperCaseStaticValue-tab" style="font-size: 11px;" data-toggle="pill"
            href="#v-pills-profile-upperCaseStaticValue" role="tab" aria-controls="v-pills-profile-upperCaseStaticValue"
            aria-selected="false">sanitize/en.json</a>
          <a class="nav-link" style="font-size: 11px;" id="v-pills-component-upperCaseStaticValue-tab" data-toggle="pill"
            href="#v-pills-component-upperCaseStaticValue" role="tab" aria-controls="v-pills-component-upperCaseStaticValue"
            aria-selected="false">*.component.ts</a>
          <a class="nav-link active" style="font-size: 11px;" id="v-pills-messages-upperCaseStaticValue-tab" data-toggle="pill"
            href="#v-pills-messages-upperCaseStaticValue" role="tab" aria-controls="v-pills-messages-upperCaseStaticValue"
            aria-selected="false">*.component.html</a>
        </div>
      </div>
      <div class="col-md-10 remove-col-padding">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade" id="v-pills-profile-upperCaseStaticValue" role="tabpanel"
            aria-labelledby="v-pills-profile-upperCaseStaticValue-tab">
            <div class="code-section p-0">
              <app-code-display innerHtml="json" [item]="examples.upperCaseStaticValue"></app-code-display>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-component-upperCaseStaticValue" role="tabpanel"
            aria-labelledby="v-pills-component-upperCaseStaticValue-tab">
            <div class="code-section p-0">
              <!--<pre class="pre-code ngx-pre-code"><code [innerHtml]="html"></code></pre>-->
              <app-code-display innerHtml="typescript" [item]="examples.upperCaseStaticValue"></app-code-display>
            </div>
          </div>
          <div class="tab-pane fade show active" id="v-pills-messages-upperCaseStaticValue" role="tabpanel"
            aria-labelledby="v-pills-messages-upperCaseStaticValue-tab">
            <div class="code-section p-0">
              <app-code-display innerHtml="html" [item]="examples.upperCaseStaticValue"></app-code-display>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4 remove-col-padding">
    <div>
      <div class="code_eg">Output</div>
      <div class="ngx-output">
        <span class="badge badge-{{sanitize.languageCode}}">{{sanitize.upperCaseStaticValue}}</span>
      </div>
    </div>
  </div>
</div>
<div class="row col-style">
  <div class="col-text-style"><span class="col-hash-text-teal" data-toggle="tooltip"
      title="Internationalize your dynamic input and sanitize in upper case 😀" data-placement="top"><i class="fa fa-info-circle"
        aria-hidden="true"></i> </span>Dynamic Value
  </div>
</div>
<div class="row col-md-12">
  <div class="col-md-8">
    <div class="row ">
      <div class="col-md-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" id="v-pills-profile-upperCaseDynamicValue-tab" style="font-size: 11px;" data-toggle="pill"
            href="#v-pills-profile-upperCaseDynamicValue" role="tab" aria-controls="v-pills-profile-upperCaseDynamicValue"
            aria-selected="false">sanitize/en.json</a>
          <a class="nav-link" style="font-size: 11px;" id="v-pills-component-upperCaseDynamicValue-tab"
            data-toggle="pill" href="#v-pills-component-upperCaseDynamicValue" role="tab"
            aria-controls="v-pills-component-upperCaseDynamicValue" aria-selected="false">*.component.ts</a>
          <a class="nav-link active" style="font-size: 11px;" id="v-pills-messages-upperCaseDynamicValue-tab"
            data-toggle="pill" href="#v-pills-messages-upperCaseDynamicValue" role="tab"
            aria-controls="v-pills-messages-upperCaseDynamicValue" aria-selected="false">*.component.html</a>
        </div>
      </div>
      <div class="col-md-10 remove-col-padding">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade" id="v-pills-profile-upperCaseDynamicValue" role="tabpanel"
            aria-labelledby="v-pills-profile-upperCaseDynamicValue-tab">
            <div class="code-section p-0">
              <app-code-display innerHtml="json" [item]="examples.upperCaseDynamicValue"></app-code-display>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-component-upperCaseDynamicValue" role="tabpanel"
            aria-labelledby="v-pills-component-upperCaseDynamicValue-tab">
            <div class="code-section p-0">
              <!--<pre class="pre-code ngx-pre-code"><code [innerHtml]="html"></code></pre>-->
              <app-code-display innerHtml="typescript" [item]="examples.upperCaseDynamicValue"></app-code-display>
            </div>
          </div>
          <div class="tab-pane fade show active" id="v-pills-messages-upperCaseDynamicValue" role="tabpanel"
            aria-labelledby="v-pills-messages-upperCaseDynamicValue-tab">
            <div class="code-section p-0">
              <app-code-display innerHtml="html" [item]="examples.upperCaseDynamicValue"></app-code-display>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4 remove-col-padding">
    <div>
      <div class="code_eg">Output</div>
      <div class="ngx-output">
        <input type="text" [(ngModel)]="upperCase" [ngModelOptions]="{standalone: true}"
          class="form-control translate sanitize-form-control translate margin-right">
        <span class="badge badge-{{sanitize.languageCode}}">{{sanitize.upperCaseDynamicValue}}</span>
      </div>
    </div>
  </div>
</div>
</div>