<div>
  <form  [formGroup]="locationFormGroup">
    <div class="form-group">
      <label>Area Name</label>
      <input type="text" formControlName="areaName" class="form-control"  />
     <small class="form-text text-danger" *ngIf="locationFormGroup.controls.areaName.errors">{{locationFormGroup.controls.areaName.errors.alphaNumeric.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Flat Address</label>
      <input type="text" formControlName="flatAddress" class="form-control"  />
      <small class="form-text text-muted">This allowed whitespace in alpha Numeric validation<br/></small>
     <small class="form-text text-danger" *ngIf="locationFormGroup.controls.flatAddress.errors">{{locationFormGroup.controls.flatAddress.errors.alphaNumeric.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>SpanishCityName</label>
      <input type="text" formControlName="spanishcityName" class="form-control"  />
      <small class="form-text text-muted">It will allow spanish characters in the formControl<br/></small>
     <small class="form-text text-danger" *ngIf="locationFormGroup.controls.spanishcityName.errors">{{locationFormGroup.controls.spanishcityName.errors.alphaNumeric.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Postal Address</label>
      <input type="text" formControlName="postalAddress" class="form-control"  />
      <small class="form-text text-muted">Shows custom message<br/></small>
     <small class="form-text text-danger" *ngIf="locationFormGroup.controls.postalAddress.errors">{{locationFormGroup.controls.postalAddress.errors.alphaNumeric.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Colony Name</label>
      <input type="text" formControlName="colonyName" class="form-control"  />
      <small class="form-text text-muted">custom message based on messageKey<br/></small>
     <small class="form-text text-danger" *ngIf="locationFormGroup.controls.colonyName.errors">{{locationFormGroup.controls.colonyName.errors.alphaNumericMessageKey.message}}<br/></small>		
    </div>
    <button [disabled]="!locationFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
