<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>IsBlocked</label>&nbsp;
      <input type="text" name="isBlocked" [(ngModel)]="user.isBlocked"   [required]="{'messageKey':'requiredTrueMessageKey'}"/><br/>
      <small class="form-text text-muted">Shows Custom Validation Message based on message key<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.isBlocked?.errors">{{userForm.controls?.isBlocked?.errors?.requiredTrue.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
