<div>
  <form #userinfoForm = "ngForm" [rxwebForm]="userinfoForm" [model]="userinfo">
    <div class="form-group">
      <label>Excel File</label>
	    <input type="file" name="excelFile"  [(ngModel)]="userinfo.excelFile"  class="form-control" [fileSize]="{'maxSize':100,'messageKey':'fileSizeMessageKey'}"/>

	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.excelFile?.errors">{{userinfoForm.controls?.excelFile?.errors?.fileSize.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
