<div id="wrapper" *ngIf="showComponent">
    <div class="content">
        <div class="title-bar">
            <p>Provides different list methods for manipulation data in collection.</p>
        </div>

        <div class="bg-white border-radius" style="margin-top:22px;">
            <div class="row">
                <div class="col-lg-12">

                    <div class="hpanel">
                        <div class="tab-content fade show">
                            <div class="tab-pane panel-body validation-tab active">
                                <div class="row page-section" id="installpackage">
                                    <div class="col-lg-12">
                                        <h2>Install Package<a title="Link to this heading" class="link-header"
                                                href="/rxweb-generics/generic-getting-started#installpackage"><i
                                                    class="fa fa-link"></i></a></h2>

                                        <div class="model-ts">
                                            <div class="code">
                                                <a class="float-right copy-icon" ngxClipboard
                                                    [cbContent]="codeContent.installation"
                                                    (cbOnSuccess)="installationCopied = true"
                                                    [class.copied]="installationCopied"><i class="fa fa-files-o"
                                                        aria-hidden="true"></i></a>
                                                <div highlight="pre code">
                                                    <pre><code [textContent]="codeContent.installation"></code></pre>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row page-section" id="installpackage">
                                    <div class="col-lg-12">
                                        <h2>List<a title="Link to this heading" class="link-header"><i
                                                    class="fa fa-link"></i></a></h2>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list" fragment="add">Add</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="addRange">AddRange</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list" fragment="all">All</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list" fragment="any">Any</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">

                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body  text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="average">Average</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="contains">Contains</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="count">Count</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="concat">Concat</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">

                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body  text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="escape">escape</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="where">Where</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="distinct">Distinct</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="distinctBy">DistinctBy</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">

                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body  text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="shift">Shift</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="first">First</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="firstOrDefault">FirstOrDefault</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="GroupBy">GroupBy</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">

                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body  text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="insert">Insert</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="pop">Pop</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="last">Last</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="lastOrDefault">LastOrDefault</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">

                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body  text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="max">Max</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="maxBy">MaxBy</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="remove">Remove</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="removeAll">RemoveAll</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">

                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body  text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="removeAt">RemoveAt</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="single">Single</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="singleOrDefault">SingleOrDefault</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="skip">Skip</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">

                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body  text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="sum">Sum</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <a class="card-body text-center"
                                                    routerLink="/rxweb-generics/generics/list"
                                                    fragment="take">Take</a>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>