<div id="wrapper" *ngIf="showComponent">
    <div class="content">
        <div class="title-bar">
            <p>A simple and extensible library for <span
                    style="color: #0f96e4!important;">Internationalization(i18n)</span>
                in angular with
                intuitive features.</p>
        </div>
        <div class="bg-white border-radius" style="margin-top:40px;">
            <div class="row col-md-12">

                <div class="col-md-5">
                    <div class="row">
                        <div class="pr-0">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">

                                <a class="nav-link" id="v-pills-profile-tab" style="font-size: 11px;" data-toggle="pill"
                                    href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                    aria-selected="false">JSON</a>
                                <a class="nav-link active" style="font-size: 11px;" id="v-pills-home-tab"
                                    data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                                    aria-selected="true">Component</a>
                                <a class="nav-link" style="font-size: 11px;" id="v-pills-messages-tab"
                                    data-toggle="pill" href="#v-pills-messages" role="tab"
                                    aria-controls="v-pills-messages" aria-selected="false">Html</a>

                            </div>
                        </div>
                        <div class="pl-7">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                    aria-labelledby="v-pills-home-tab" style="width: 490px;">
                                    <div class="code-section p-0">

                                        <pre class="pre-code"><code [innerHtml]="mapTranslate">
                      </code></pre>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                    aria-labelledby="v-pills-profile-tab">
                                    <div class="code-section p-0">

                                        <pre class="pre-code"><code [innerHtml]="code"></code></pre>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                    aria-labelledby="v-pills-messages-tab">
                                    <div class="code-section p-0">

                                        <pre class="pre-code"><code [innerHtml]="htmlBinding"></code></pre>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-7">
                  <div style="padding-top:40px;">
                    <div class="code_git"><a target="_blank" href="https://github.com/rxweb/rxweb/tree/master/examples/client-side/angular/translate/getting-started"><i class="fa fa-github fa-github-icon"></i></a></div>
                    <div style="line-height: 34px!important;margin-top: -8px;">
                      <span style="font-size: 17px;">{{global.greetMessage}}</span>&nbsp;
                      <select (click)="changeLanguage($event.target.value)">
                        <option value="en">English</option>
                        <option value="fr">French</option>
                      </select>


                    </div>

                  </div>
                </div>

            </div>

        </div>
        <div class="row pt-3">
            
            <div class="col-lg-12">

                <div class="hpanel">
                    <div class="tab-content fade show">
                        <div class="tab-pane panel-body validation-tab active">
                            <div class="row page-section" id="examples" key="dynamic">
                                <div class='col-lg-12'>
                                    <ul class="nav nav-tabs">
                                        <li [class.active]="mainTab=='translate'" (click)="changeTab('translate')">
                                            <a>translate</a></li>
                                        <li [class.active]="mainTab=='ngx-translate-extension'" (click)="changeTab('ngx-translate-extension')">
                                          <a>ngx-translate to extension</a></li>

                                    </ul>
                                    <div class="tab-content p-4">
                                     
                                        <div class='col-lg-12'  *ngIf="mainTab=='translate'">
                                            
                                          <img  data-gifffer="assets/images/translate-installation.gif">

                                        </div>
                                        <div class='col-lg-12' *ngIf="mainTab=='ngx-translate-extension'">

                                          <img  data-gifffer="assets/images/ngx-translate-extension.gif">

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>



    <app-top-bar></app-top-bar>
</div>
