<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Skill</label>
      <input type="text" formControlName="skill" class="form-control"  />
      <small class="form-text text-muted">custom message based on messageKey<br/></small>
     <small class="form-text text-danger" *ngIf="userFormGroup.controls.skill.errors">{{userFormGroup.controls.skill.errors.endsWithMessageKey.message}}<br/></small>		
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
