<div id="wrapper" *ngIf="showComponent">
    <div class="content">
        <div class="title-bar">
            <p> Build model-driven dynamic forms for angular enterprise application.</p>
        </div>

        <div class="bg-white border-radius" style="margin-top:22px;">
            <div class="row">
                <div class="col-lg-12">

                    <div class="hpanel">
                        <div class="tab-content fade show">
                            <div class="tab-pane panel-body validation-tab active">
                                <div class="row page-section" id="examples" key="dynamic">
                                    <div class='col-lg-12'>
                                        <ul class="nav nav-tabs">
                                            <li [class.active]="mainTab=='installation'"
                                                (click)="mainTab='installation'"><a>1) Installation</a></li>
                                            <li [class.active]="mainTab=='validator'" (click)="mainTab='validator'">
                                                <a>2) Register Modules</a></li>
                                            <li [class.active]="mainTab=='decorator'" (click)="mainTab='decorator'">
                                                <a>3) Creating Form</a></li>
                                            <li [class.active]="mainTab=='template-driven'"
                                                (click)="mainTab='template-driven'"><a>4) Html Implementation</a></li>
                                            <li [class.active]="mainTab=='working-example'"
                                                (click)="mainTab='working-example'"><a>5) Working Example</a></li>
                                        </ul>
                                        <div class="tab-content p-4">
                                            <div class="tab-pane active" *ngIf="mainTab=='installation'">
                                                <img src="assets/images/getting-started-installation.gif" />
                                            </div>
                                            <div class="tab-pane active" *ngIf="mainTab=='validator'">
                                                <img src="assets/images/register-module.gif" />
                                            </div>
                                            <div class="tab-pane active" *ngIf="mainTab=='decorator'">
                                                <img src="assets/images/forms-creation.gif" />
                                            </div>
                                            <div class="tab-pane active" *ngIf="mainTab=='template-driven'">
                                                <img src="assets/images/html-implementaion.gif" />
                                            </div>
                                            <div class="tab-pane active" *ngIf="mainTab=='working-example'">
                                                <img src="assets/images/example.gif" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <!-- <app-contribution></app-contribution> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-right-sidebar [sidebarLinks]="rightSidebarLinks"></app-right-sidebar> -->
</div>