<div>
  <form #logininfoForm = "ngForm" [rxwebForm]="logininfoForm" [model]="logininfo">
    <div class="form-group">
      <label>Reset Password</label>
	    <input type="text" name="resetPassword" [(ngModel)]="logininfo.resetPassword"  class="form-control" [password]="{'validation':{maxLength: 10,minLength: 5,digit: true,specialCharacter: true},'message':{
                  minLength: 'Minimum Character length should be 5.',
                  maxLength: 'MaxLength allowed is 5'
                }}"/>

      <small class="form-text text-muted">password with multiple error messages<br/></small>
	   <small class="form-text text-danger" *ngIf="logininfoForm.controls?.resetPassword?.errors">{{logininfoForm.controls?.resetPassword?.errors?.password.message}}<br/></small>	
    </div>
    <button [disabled]="!logininfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
