<div>
  <form  [formGroup]="userInfoFormGroup">
    <div class="form-group">
      <label>GBBank Account Number</label>
      <input type="text" formControlName="gBBankAccountNumber" class="form-control"  />
     <small class="form-text text-danger" *ngIf="userInfoFormGroup.controls.gBBankAccountNumber.errors">{{userInfoFormGroup.controls.gBBankAccountNumber.errors.iban.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>DKBank Account Number</label>
      <input type="text" formControlName="dKBankAccountNumber" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'dKBankAccountNumber' then you need to add 'GBBankAccountNumber' input as 'GB33BUKB20201555555555'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
     <small class="form-text text-danger" *ngIf="userInfoFormGroup.controls.dKBankAccountNumber.errors">{{userInfoFormGroup.controls.dKBankAccountNumber.errors.iban.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>BHBank Account Number</label>
      <input type="text" formControlName="bHBankAccountNumber" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'bHBankAccountNumber' then you need to add 'GBBankAccountNumber' input as 'GB33BUKB20201555555555'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
     <small class="form-text text-danger" *ngIf="userInfoFormGroup.controls.bHBankAccountNumber.errors">{{userInfoFormGroup.controls.bHBankAccountNumber.errors.iban.message}}<br/></small>	
    </div>
    <button [disabled]="!userInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
