<div id="wrapper">
    <div class="content">
        <div class="title-bar">
            <p>Drive towards perceiving the power of RxWeb CLI.</p>
        </div>
    </div>
    <div class="learn-video-list row" id="cli">
        
        <div class="col-lg-6 col-md-6 col-sm-12 learn-video-card-wrapper">
            <div class="learn-video-card">
                <div class="learn-video-img">
                    <video controls style="width: 740px!important;
                    
                ">
                        <source src="assets/images/translate-setup-remake.mp4" type="video/mp4">

                    </video>
                </div>
              <h1 style="font-size:21px;font-weight:500!important">Setting Up the Translate 🚀</h1>
                <p>In this video the automated translation setup using command and their necessary configured files are shown.</p>
           
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 learn-video-card-wrapper">
            <div class="learn-video-card">
                <div class="learn-video-img">
                    <video controls style="width:735px!important;height: 448px!important ;">
                        <source src="assets/images/translate-second-step.mp4" type="video/mp4">

                    </video></div>
                    <h1 style="font-size:21px;font-weight:500!important">Serve the project with key extraction.</h1>
                <p>This video tutorial gives you a breif information about how to use multiple languages using configuration file, resolve the translate object into the component and bind the multilingual text.</p>
               
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 learn-video-card-wrapper">
            <div class="learn-video-card">
                <div class="learn-video-img"><video controls style="width:740px!important">
                        <source src="assets/images/optimize-remake.mp4" type="video/mp4">

                    </video></div>
                    <h1 style="font-size:21px;font-weight:500!important">Optimize Keys at Prod Build</h1>
                <p>Optimize keys at the time of prod, remove unused keys from the translation files throughout the application.</p>
               
            </div>
        </div>
    </div>
</div>
<app-top-bar [sidebarLinks]="rightSidebarLinks"></app-top-bar>