<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Name</label>
      <input type="text" formControlName="name" class="form-control"  />
     <small class="form-text text-danger" *ngIf="userFormGroup.controls.name.errors">{{userFormGroup.controls.name.errors.startsWith.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Department</label>
      <input type="text" formControlName="department" class="form-control"  />
      <small class="form-text text-muted">Input should not startsWith `D`<br/></small>
     <small class="form-text text-danger" *ngIf="userFormGroup.controls.department.errors">{{userFormGroup.controls.department.errors.startsWith.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Company</label>
      <input type="text" formControlName="company" class="form-control"  />
      <small class="form-text text-muted">Input should startsWith `R`<br/></small>
      <small class="form-text text-muted">Shows custom message<br/></small>
     <small class="form-text text-danger" *ngIf="userFormGroup.controls.company.errors">{{userFormGroup.controls.company.errors.startsWith.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Skill</label>
      <input type="text" formControlName="skill" class="form-control"  />
      <small class="form-text text-muted">custom message based on messageKey<br/></small>
     <small class="form-text text-danger" *ngIf="userFormGroup.controls.skill.errors">{{userFormGroup.controls.skill.errors.startsWithMessageKey.message}}<br/></small>		
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
