<div>
    <form  [formGroup]="userInfoFormGroup">
      <div class="form-group">
        <label>Purchase Price</label>
        <input type="text" formControlName="purchasePrice" class="form-control"  />
    
      </div>
      <div class="form-group">
        <label>Resale Price</label>
        <input type="text" formControlName="resalePrice" class="form-control"  />
   <small class="form-text text-danger" *ngIf="userInfoFormGroup.controls.resalePrice.errors">
     {{userInfoFormGroup.controls.resalePrice.errors.minNumber.message}}<br/></small>	
      </div>
  
      <button [disabled]="!userInfoFormGroup.valid" class="btn btn-primary">Submit</button>
    </form>
  </div>