<div id="wrapper" *ngIf="showComponent">
    <div class="content">
        <div class="title-bar">
            <p>ReactiveFormConfig is used to configure <span class="highlighted">date format,</span> <span class="highlighted">validation
                    messages</span> globally at the start of the application.
            </p>
        </div>
        <div class="bg-white border-radius">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="tab-content fade show">
                        <div class="tab-pane panel-body validation-tab active">
                            <div class='row page-section' id="about-reactiveformconfig">
                                <div class='col-lg-12'>
                                    <h2>About ReactiveFormConfig<a title="Link to this heading" class="link-header"
                                            routerLink="/api/reactive-form-config" fragment="about-reactiveformconfig"><i
                                                class="fa fa-link"></i></a></h2>
                                    <p>ReactiveFormConfig is used to globally set date format,validation messages
                                        whenever the application starts it will initialized automatically. we have to
                                        set "validationMessage" for setting global validation message ,"baseConfig" for
                                        setting dateformat globally and "internationalization" for setting dateformat
                                        for worldwide applications.
                                    </p>
                                </div>
                            </div>
                            <div class='row page-section' id="baseConfig">
                                <div class='col-lg-12'>
                                    <h4>baseConfig<a title="Link to this heading" class="link-header" routerLink="/api/reactive-form-config"
                                            fragment="baseConfig"><i class="fa fa-link"></i></a></h4>
                                    <p>To set the date format throughtout the application for date validation check,
                                        the <span class="highlighted">baseConfig</span> of ReactiveFormConfig is a
                                        configuration if you set then the applied the value prameter 'value' in
                                        'minDate' and 'maxDate' validation works accordingly otherwise it will take the
                                        default format of 'mm/dd/yyyy'.Suppose date format in your country is
                                        'mm/dd/yy', Set the dateformat as "mdy" or if it is 'dd/mm/yy' Set the
                                        dateformat as "dmy" and the format will be set globally.</p>

                                    <hr>
                                    <div class="model-ts">
                                        <div class="code">
                                            <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.baseConfig"
                                                (cbOnSuccess)="baseConfigCopied = true" [class.copied]="baseConfigCopied"><i
                                                    class="fa fa-files-o" aria-hidden="true"></i></a>
                                            <div highlight="pre code">
                                                <pre><code [textContent]="codeContent.baseConfig"></code></pre>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class='row page-section' id="internationalization">
                                <div class='col-lg-12'>
                                    <h4>internationalization<a title="Link to this heading" class="link-header"
                                            routerLink="/api/reactive-form-config" fragment="internationalization"><i class="fa fa-link"></i></a></h4>
                                    <p>Suppose You want the application to work worldwide and you want the date format
                                        to validated according to your region,In that case you can change <span class="highlighted">internationalization</span>
                                        dynamically if your system supports it.</p>
                                    <div class="model-ts">
                                        <div class="code">
                                            <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.internationalization"
                                                (cbOnSuccess)="internationalizationCopied = true" [class.copied]="internationalizationCopied"><i
                                                    class="fa fa-files-o" aria-hidden="true"></i></a>
                                            <div highlight="pre code">
                                                <pre><code [textContent]="codeContent.internationalization"></code></pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='row page-section' id="validationMessage">
                                <div class='col-lg-12'>
                                    <h4>Validation Messages<a title="Link to this heading" class="link-header"
                                            routerLink="/api/reactive-form-config" fragment="validationMessage"><i class="fa fa-link"></i></a></h4>
                                    <p>Apply global validation messages throughout the application, then configure the
                                        validation messages globaly, You must set message for every validator you use.</p>
                                    <div class="model-ts">
                                        <div class="code">
                                            <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.validationMessage"
                                                (cbOnSuccess)="validationMessageCopied = true" [class.copied]="validationMessageCopied"><i
                                                    class="fa fa-files-o" aria-hidden="true"></i></a>
                                            <div highlight="pre code">
                                                <pre><code [textContent]="codeContent.validationMessage"></code></pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-lg-12'>
                                    <h4>Password validation Messages<a title="Link to this heading" class="link-header"
                                            routerLink="/api/reactive-form-config" fragment="passwordvalidationMessage"><i class="fa fa-link"></i></a></h4>
                                    <p>You can set multiple messages for password validation globally into the ReactiveFormConfig as below.</p>
                                    <div class="model-ts">
                                        <div class="code">
                                            <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.passwordValidationMessage"
                                                (cbOnSuccess)="passwordValidationMessageCopied = true" [class.copied]="passwordValidationMessageCopied"><i
                                                    class="fa fa-files-o" aria-hidden="true"></i></a>
                                            <div highlight="pre code">
                                                <pre><code [textContent]="codeContent.passwordValidationMessage"></code></pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class='row page-section' id="errorMessageStrategy">
                                <div class='col-lg-12'>
                                    <h4>ErrorMessageBindingStrategy<a title="Link to this heading" class="link-header"
                                            routerLink="/api/reactive-form-config" fragment="errorMessageStrategy"><i class="fa fa-link"></i></a></h4>
                                    <p>To configure the error message strategy globally when you have same strategy of showing error messages throughout the application.
                                       
                                    </p>
                                    <div class="alert is-info">
                                    
                                       <p> The by default errorMessageBindingStrategy is ErrorMessageBindingStrategy.none.</p>
                                    </div>
                                    <h5>Based upon your need you can set the errorMessageBindingStrategy to these conditions : </h5>
                                    <ol>
                                        <li>
                                            <span class="highlighted">ErrorMessageBindingStrategy.none</span> : There is no condition to bind the error message, The error messages will be bind as soon as the FormControl is invalid.
                                        </li>
                                        <li>
                                            <span class="highlighted">ErrorMessageBindingStrategy.onSubmit</span> : Whenever the RxFormGroup property submitted is true then the invalid FormControl error messages will be bind.
                                        </li>
                                        <li>
                                            <span class="highlighted">ErrorMessageBindingStrategy.onDirty</span>: Once the FormControl is dirty, after that invalid FormControl error messages will be bind accordingly.
                                        </li>
                                        <li>
                                            <span class="highlighted">ErrorMessageBindingStrategy.onTouched</span>: Once the FormControl is touched, after that invalid FormControl error messages will be bind accordingly.
                                        </li>
                                        <li>
                                            <span class="highlighted">ErrorMessageBindingStrategy.onDirtyOrTouched</span>: Once the FormControl is Dirty or Touched, after that invalid FormControl error messages will be bind accordingly.
                                        </li>
                                    </ol>
                                    <div class="model-ts">
                                        <div class="code">
                                            <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.errorMessageStrategy"
                                                  (cbOnSuccess)="errorMessageStrategyCopied = true" [class.copied]="errorMessageStrategyCopied"><i
                                                    class="fa fa-files-o" aria-hidden="true"></i></a>
                                            <div highlight="pre code">
                                                <pre><code [textContent]="codeContent.errorMessageStrategy"></code></pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='row page-section' id="allowDecimalSymbol">
                                <div class='col-lg-12'>
                                        <h4>allowDecimalSymbol<a title="Link to this heading" class="link-header"
                                            routerLink="/api/reactive-form-config" fragment="allowDecimalSymbol"><i class="fa fa-link"></i></a></h4>
                                    <p>Suppose you want to set the same decimal symbol throughout the application, then you must configure that decimal symbol globally in ReactiveFormConfig in app.component.ts.  For example, if you want to set <span class="highlighted">","</span> as your separator instead of <span class="highlighted">"."</span> then you can configure it by using <span class="highlighted">allowDecimalSymbol</span>.</p>
                                    <div class="model-ts">
                                            <div class="code">
                                                <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.allowDecimalSymbol"
                                                    (cbOnSuccess)="allowDecimalSymbolCopied = true" [class.copied]="allowDecimalSymbolCopied"><i
                                                        class="fa fa-files-o" aria-hidden="true"></i></a>
                                                <div highlight="pre code">
                                                    <pre><code [textContent]="codeContent.allowDecimalSymbol"></code></pre>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class='row page-section' id="locale">
                                <div class='col-lg-12'>
                                        <h4>defaultValidationLocale<a title="Link to this heading" class="link-header"
                                            routerLink="/api/reactive-form-config" fragment="locale"><i class="fa fa-link"></i></a></h4>
                                    <p>This will allow multilingual characters based upon the specified validation alphabet locale in alpha and alphanumeric validations. It can be set to Spanish, danish, french, german, russian. Here it is globally set to spanish for alpha and alphanumeric validations.</p>
                                    <div class="model-ts">
                                            <div class="code">
                                                <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.locale"
                                                    (cbOnSuccess)="localeCopied = true" [class.copied]="localeCopied"><i
                                                        class="fa fa-files-o" aria-hidden="true"></i></a>
                                                <div highlight="pre code">
                                                    <pre><code [textContent]="codeContent.locale"></code></pre>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <app-contribution></app-contribution>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-top-bar [sidebarLinks]="rightSidebarLinks"></app-top-bar>
</div>