<div>
  <form [formGroup]="employeeInfoFormGroup">
    <div class="form-group">
      <label>Languages</label>
      <div class="form-check" *ngFor="let tag of languagesArray">
        <h4>
          <input (click)="addLanguage($event.target)" type="checkbox" value="{{tag}}" /> {{tag}}
        </h4>
      </div>
      <br>
      <small class="form-text text-muted">oneOf validation using messageKey.</small><br>
      <small class="form-text text-danger" *ngIf="employeeInfoFormGroup.controls.languages.errors">{{employeeInfoFormGroup.controls.languages.errors.oneOf.message}}</small><br>
    </div>
    <button [disabled]="!employeeInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
