<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Phone Number</label>
	    <input type="text" name="phoneNumber" [(ngModel)]="user.phoneNumber"  class="form-control" [rxmask]="{'mask':'(999)-999 9999'}"/>

	   <small class="form-text text-danger" *ngIf="userForm.controls?.phoneNumber?.errors">{{userForm.controls?.phoneNumber?.errors?.mask.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
