<div>
  <form  [formGroup]="locationFormGroup">
    <div class="form-group">
      <label>Street Name</label>
      <input type="text" formControlName="streetName" class="form-control"  />
      <small class="form-text text-muted">Shows custom message based on message key<br/></small>
	<small class="form-text text-danger" *ngIf="locationFormGroup.controls.streetName.errors">{{locationFormGroup.controls.streetName.errors.upperCase.message}}<br/></small>
    </div>
    <button [disabled]="!locationFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
