<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Digital Code</label>
	    <input type="text" name="digitalCode" [(ngModel)]="user.digitalCode"  class="form-control" [ascii]="{'messageKey':'asciiMessageKey'}"/>

      <small class="form-text text-muted">custom message based on messageKey<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.digitalCode?.errors">{{userForm.controls?.digitalCode?.errors?.ascii.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
