<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Other Even Number</label>
	    <input type="text" name="otherEvenNumber" [(ngModel)]="user.otherEvenNumber"  class="form-control" [even]="{'messageKey':'evenMessageKey'}"/>

      <small class="form-text text-muted">custom message based on messageKey<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.otherEvenNumber?.errors">{{userForm.controls?.otherEvenNumber?.errors?.even.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
