<div id="wrapper" *ngIf="showComponent">
  <div class="content">

    <div class="title-bar">
      <p>Before talking about the coming new feature, we would like to share about our long-term vision for rxweb in
        open source.
      </p>
    </div>
    <div class="bg-white border-radius">
      <div class="row">
        <div class="col-lg-12">
          <div class="hpanel">
            <div class="panel-body validation-tab">
              <div class='row page-section' id="our-vision">
                <div class='col-lg-12'>
                  <h2>Our vision for rxweb framework is...<a title="Link to this heading" class="link-header"
                      routerLink="/whats-next" fragment="our-vision"><i class="fa fa-link"></i></a></h2>
                  <h4>Core Values:</h4>
                  <ul>
                    <li>Focus on those features which are not available in Angular framework or taking more efforts to
                      achieve with the standard approach.</li>
                    <li>Issues and pull requests get handled within reasonable time as per our issue workflow.</li>
                    <li>99% test coverage.</li>
                    <li>Always willing to help or guidance.</li>
                    <li>Always welcome new comers and respect their valuable effort as experts.</li>
                    <li>seeking to improve ourselves and our community.</li>
                    <li>recognize and validate contributions.</li>
                  </ul>
                </div>
              </div>

              <div class='row page-section' id="stable-features">
                <div class='col-lg-12'>
                  <h4>Stable features:<a title="Link to this heading" class="link-header" routerLink="/whats-next"
                      fragment="stable-features"><i class="fa fa-link"></i></a></h4>
                  <ul>
                    <li>Easy to understand and implement advance features for our community devs.</li>

                  </ul>
                </div>
              </div>

              <div class='row page-section' id="excellent-documentation">
                <div class='col-lg-12'>
                  <h4>Excellent Documentation:<a title="Link to this heading" class="link-header"
                      routerLink="/whats-next" fragment="excellent-documentation"><i class="fa fa-link"></i></a></h4>
                  <ul>
                    <li>Focus on every API should be documented with working code example for better user experience.

                    </li>
                    <li>
                      Up to date API and reference docs.
                    </li>

                  </ul>
                </div>
              </div>

              <div class='row page-section' id="reliability">
                <div class='col-lg-12'>
                  <h4>Reliability:<a title="Link to this heading" class="link-header" routerLink="/whats-next"
                      fragment="reliability"><i class="fa fa-link"></i></a></h4>
                  <p>To prevent bugs and ensure stable release, rxweb framework heavily rely on tests and as a practice
                    every new functionality or bug resolution test must be written with their respective scenarios. This
                    practice helps to ensure while developing new features in existing features without any bug.</p>
                </div>
              </div>

              <div class='row page-section' id="upcoming-features">
                <div class='col-lg-12'>
                  <h4>Upcoming features:<a title="Link to this heading" class="link-header" routerLink="/whats-next"
                      fragment="upcoming-features"><i class="fa fa-link"></i></a></h4>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Feature</th>
                        <th>Status</th>
                        <th>Development Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Locale wise validation</th>
                        <th>
                        </th>
                        <th></th>
                      </tr>

                      <tr>
                        <th>Alpha validation</th>
                        <th>
                        </th>
                        <th>Scoping</th>
                      </tr>

                      <tr>
                        <th>Alpha Numeric</th>
                        <th>
                        </th>
                        <th>Scoping</th>
                      </tr>

                      <tr>
                        <th>Decimal formatter support</th>
                        <th>
                        </th>
                        <th>Scoping</th>
                      </tr>

                      <tr>
                        <th>Mobile Phone</th>
                        <th>
                        </th>
                        <th>Scoping</th>
                      </tr>
                      <tr>
                        <th>Postal code</th>
                        <th>
                        </th>
                        <th>Scoping</th>
                      </tr>

                      <tr>
                        <th>VAT number</th>
                        <th>
                        </th>
                        <th>Scoping</th>
                      </tr>


                      <tr>
                        <th>Vehicle Identification Number</th>
                        <th>
                        </th>
                        <th>Scoping</th>
                      </tr>

                      <tr>
                        <th>Validators</th>
                        <th>
                        </th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>FQDN</th>
                        <th>Contributors required
                        </th>
                        <th>Pending</th>
                      </tr>

                      <tr>
                        <th>BIC</th>
                        <th>Contributors required
                        </th>
                        <th>Pending</th>
                      </tr>
                      <tr>
                        <th>CUSP</th>
                        <th>Contributors required
                        </th>
                        <th>Pending</th>
                      </tr>
                      <tr>
                        <th>UUID</th>
                        <th>Contributors required
                        </th>
                        <th>Pending</th>
                      </tr>
                      <tr>
                        <th>Global Release Identifier</th>
                        <th>Contributors required
                        </th>
                        <th>Pending</th>
                      </tr>
                      <tr>
                        <th>IBAN</th>
                        <th>Contributors required
                        </th>
                        <th>Pending</th>
                      </tr>
                      <tr>
                        <th>IMEI</th>
                        <th>Contributors required
                        </th>
                        <th>Pending</th>
                      </tr>
                      <tr>
                        <th>Textarea rows validation</th>
                        <th>
                        </th>
                        <th>Inprogress</th>
                      </tr>
                      <tr>
                        <th>Noempty validation when only space in the textbox</th>
                        <th>
                        </th>
                        <th>Inprogress</th>
                      </tr>
                      <tr>
                        <th>Sanitizers</th>
                        <th>
                        </th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>Store as array value in the formcontrol</th>
                        <th>Contributors required
                        </th>
                        <th>Pending</th>
                      </tr>
                      <tr>
                        <th>UnEscape text</th>
                        <th>Contributors required
                        </th>
                        <th>Pending</th>
                      </tr>
                      <tr>
                        <th>Dynamic Validation</th>
                        <th>
                        </th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>Bind Validation Config Dynamically</th>
                        <th>
                        </th>
                        <th>Scoping</th>
                      </tr>
                      <tr>
                        <th>Simplified UI Binding</th>
                        <th>
                        </th>
                        <th>Scoping</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-right-sidebar [sidebarLinks]="rightSidebarLinks"></app-right-sidebar>
</div>