<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Commercial Website Port</label>
	    <input type="text" name="commercialWebsitePort" [(ngModel)]="user.commercialWebsitePort"  class="form-control" [port]="{'messageKey':'portMessageKey'}"/>

      <small class="form-text text-muted">Shows custom message using messageKey<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.commercialWebsitePort?.errors">{{userForm.controls?.commercialWebsitePort?.errors?.port.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
