<h2>See contrast of Translate with other libraries: </h2>
<div class="code_git"><a href="#"><i class="fa fa-github fa-github-icon"></i></a></div>
<table class="table table-hover container text-center" style="    margin-top: 4rem;">
    <thead>
      <tr>
        <th class="comprasion" scope="col"><b>Feature</b></th>
        <th class="comprasion" scope="col"><b>Rxweb Translate</b></th>
        <th class="comprasion" scope="col"><b>18n</b></th>
        <th class="comprasion" scope="col"><b>Transloco</b></th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <th  class="comprasion" scope="row">Attribute</th>
        <td><img id="hangimg" src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png" data-src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png"></td>
        <td class="sb"><img id="hangimg" style="height: 22px;" src="assets/images/cross1.PNG" data-src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png"></td>
        <td><img id="hangimg" src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png" data-src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png"></td>
      </tr>
      <tr>
        <th class="comprasion" scope="row">Pipe</th>
        <td><img id="hangimg" src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png" data-src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png"></td>
        <td><img id="hangimg" src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png" data-src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png"></td>
        <td><img id="hangimg" src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png" data-src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png"></td>
      </tr>
      <tr>
        <th class="comprasion" scope="row">Decorator</th>
        <td><img id="hangimg" src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png" data-src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png"></td>
        <td><img id="hangimg" style="height: 22px;" src="assets/images/cross1.PNG" data-src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png"></td>
        <td><img id="hangimg" style="height: 22px;" src="assets/images/cross1.PNG" data-src="//s3.amazonaws.com/pix.iemoji.com/hang33/0126.png"></td>
      </tr>
    </tbody>
  </table>
<app-top-bar></app-top-bar>