<h2>See contrast of Translate with other libraries: </h2>
<table class="table table-hover container text-center" style="    margin-top: 4rem;">
    <thead>
      <tr>
        <th class="comprasion" scope="col"><b>Feature</b></th>
        <th class="comprasion" scope="col"><b>Rxweb Translate</b></th>
        <th class="comprasion" scope="col"><b>18n</b></th>
        <th class="comprasion" scope="col"><b>Transloco</b></th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <th  class="comprasion" scope="row">Attribute</th>
        <td>✔️</td>
        <td>❌</td>
        <td>✔️</td>
      </tr>
      <tr>
        <th class="comprasion" scope="row">Pipe</th>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
      </tr>
      <tr>
        <th class="comprasion" scope="row">Decorator</th>
        <td>✔️</td>
        <td>❌</td>
        <td>❌</td>
      </tr>
    </tbody>
  </table>
<app-top-bar></app-top-bar>