<div>
  <form #attandancedetailForm = "ngForm" [rxwebForm]="attandancedetailForm" [model]="attandancedetail">
    <div class="form-group">
      <label>Entry Place</label>
	    <input type="text" name="entryPlace" [(ngModel)]="attandancedetail.entryPlace"  class="form-control" />

	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.entryPlace?.errors">{{attandancedetailForm.controls?.entryPlace?.errors?.minTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Required Hours</label>
	    <input type="text" name="requiredHours" [(ngModel)]="attandancedetail.requiredHours"  class="form-control" [minTime]="{'operator':'>','value':'08:30'}"/>

      <small class="form-text text-muted">Value should be greater than 8:30<br/></small>
	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.requiredHours?.errors">{{attandancedetailForm.controls?.requiredHours?.errors?.minTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Opening Time</label>
	    <input type="text" name="openingTime" [(ngModel)]="attandancedetail.openingTime"  class="form-control" />

	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.openingTime?.errors">{{attandancedetailForm.controls?.openingTime?.errors?.minTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Entry Time</label>
	    <input type="text" name="entryTime" [(ngModel)]="attandancedetail.entryTime"  class="form-control" [minTime]="{'conditionalExpression':'x => x.entryPlace == \'Main Entry Gate\'','fieldName':'openingTime'}"/>

      <small class="form-text text-muted">To apply the validation of minTime on 'Entry Time' field, then enter the value of 'Main Entry Gate' in Entry Place textbox.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.entryTime?.errors">{{attandancedetailForm.controls?.entryTime?.errors?.minTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Total Time Out</label>
	    <input type="text" name="totalOutTime" [(ngModel)]="attandancedetail.totalOutTime"  class="form-control" [minTime]="{'allowSeconds':true,'value':'00:10:00'}"/>

      <small class="form-text text-muted">This field allow seconds in input time.<br/></small>
	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.totalOutTime?.errors">{{attandancedetailForm.controls?.totalOutTime?.errors?.minTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Exit Time</label>
	    <input type="text" name="exitTime" [(ngModel)]="attandancedetail.exitTime"  class="form-control" [minTime]="{'message':'You can enter only time format data greater than config value','value':'07:00'}"/>

      <small class="form-text text-muted">Shows Custom Validation Message.<br/></small>
	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.exitTime?.errors">{{attandancedetailForm.controls?.exitTime?.errors?.minTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Net-In Time</label>
	    <input type="text" name="netInTime" [(ngModel)]="attandancedetail.netInTime"  class="form-control" />

      <small class="form-text text-muted">Shows Custom Validation Message using message key<br/></small>
	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.netInTime?.errors">{{attandancedetailForm.controls?.netInTime?.errors?.minTime.message}}<br/></small>	
    </div>
    <button [disabled]="!attandancedetailForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
