<div>
    <form [formGroup]="userInfoFormGroup">

        <div class="form-group">
            <label>FirstName</label>
            <input type="text" formControlName="firstName" class="form-control" />
            <small class="form-text text-danger"
                *ngIf="userInfoFormGroup.controls.firstName.errors">{{userInfoFormGroup.controls.firstName.errorMessage}}<br /></small>
                <small> FirstName Validators Count : {{firstNameCount}}</small>
        </div>

        <div class="form-group" [formGroup]="userInfoFormGroup.controls.address">
            <label>areaName</label>
            <input type="text" formControlName="areaName" class="form-control" />
            <small class="form-text text-danger"
                *ngIf="userInfoFormGroup.get('address')['controls'].areaName.errors">{{userInfoFormGroup.get('address')['controls'].areaName.errorMessage}}<br /></small>
                <small> FirstName Validators Count : {{areaNameCount}}</small>
        </div>
        <div class="btn btn-group">
            <button (click)="setFirstNameBackEndErrors()" class="btn btn-sm btn-primary">Set FirstName
                Error</button>&nbsp;
                 <button (click)="getFirstNamerrors()" class="btn btn-sm btn-primary">Get FirstName
                Validators</button>&nbsp;
            <button (click)="setAreaNameBackEndErrors()" class="btn btn-sm btn-primary">Set AreaName
                Error</button>&nbsp;
            <button (click)="clearFirstNameBackEndErrors()" class="btn btn-sm btn-primary">Clear FirstName
                Errors</button>&nbsp;
            <button (click)="clearAreaNameBackEndErrors()" class="btn btn-sm btn-primary">Clear AreaName Errors</button>&nbsp;
              <button (click)="getAreaNameErrors()" class="btn btn-sm btn-primary">Get AreaName Validators</button>
        </div>
    </form>
</div>