<div>
  <form  [formGroup]="userInfoFormGroup">
    <div class="form-group">
      <label>Formatted Decimal Number</label>
      <input type="text" formControlName="formattedDecimalNumber" class="form-control"  />
      <small class="form-text text-muted">Format the decimal input upto 2 decimal places<br/></small>
	<small class="form-text text-danger" *ngIf="userInfoFormGroup.controls.formattedDecimalNumber.errors">{{userInfoFormGroup.controls.formattedDecimalNumber.errors.numeric.message}}<br/></small>
    </div>
    <button [disabled]="!userInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
