<div>
  <form  [formGroup]="loginInfoFormGroup">
    <div class="form-group">
      <label>Reset Password</label>
      <input type="text" formControlName="resetPassword" class="form-control"  />
      <small class="form-text text-muted">password with multiple error messages<br/></small>
     <small class="form-text text-danger" *ngIf="loginInfoFormGroup.controls.resetPassword.errors">{{loginInfoFormGroup.controls.resetPassword.errors.password.message}}<br/></small>	
    </div>
    <button [disabled]="!loginInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
