<div>
  <form #digitalinfoForm = "ngForm" [rxwebForm]="digitalinfoForm" [model]="digitalinfo">
    <div class="form-group">
      <label>SoundRecording GRid</label>
	    <input type="text" name="soundRecordingGrid" [(ngModel)]="digitalinfo.soundRecordingGrid"  class="form-control" rxgrid/>

	   <small class="form-text text-danger" *ngIf="digitalinfoForm.controls?.soundRecordingGrid?.errors">{{digitalinfoForm.controls?.soundRecordingGrid?.errors?.grid.message}}<br/></small>	
    </div>
    <button [disabled]="!digitalinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
