<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Other Odd Number</label>
	    <input type="text" name="otherOddNumber" [(ngModel)]="user.otherOddNumber"  class="form-control" />

      <small class="form-text text-muted">custom message based on messageKey<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.otherOddNumber?.errors">{{userForm.controls?.otherOddNumber?.errors?.odd.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
