<div>
  <form  [formGroup]="countryFormGroup">
    <div class="form-group">
      <label>Fourth Country Latitude</label>
      <input type="text" formControlName="fourthCountryLatitude" class="form-control"  />
      <small class="form-text text-muted">Shows custom message based on message key<br/></small>
	<small class="form-text text-danger" *ngIf="countryFormGroup.controls.fourthCountryLatitude.errors">{{countryFormGroup.controls.fourthCountryLatitude.errors.latitude.message}}<br/></small>
    </div>
    <button [disabled]="!countryFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
