<div>
  <form  [formGroup]="employeeInfoFormGroup">
    <div class="form-group">
      <label>Number of Projects</label>
      <input type="text" formControlName="noOfprojects" class="form-control"  />
      <small class="form-text text-muted">Shows Custom Validation Message using message key<br/></small>
	<small class="form-text text-danger" *ngIf="employeeInfoFormGroup.controls.noOfprojects.errors">{{employeeInfoFormGroup.controls.noOfprojects.errors.range.message}}<br/></small>
    </div>
    <button [disabled]="!employeeInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
