<div  *ngIf="showComponent">

  

     
       
         
            <div class="hpanel">
              <div class="tab-content fade show">
                <div class="tab-pane panel-body validation-tab active">
                  <div class="row page-section" id="examples">
                    <div class='col-lg-12'>
                      <ul class="nav nav-tabs">
                        <li [class.active]="mainTab=='template'" (click)="mainTab='template'"><a>Template</a></li>
                        <li [class.active]="mainTab=='cli'" (click)="mainTab='cli'"><a>CLI</a></li>

                      </ul>
                      <div class="tab-content p-4">

                        <div class="tab-pane active" *ngIf="mainTab=='template'">

                          <video controls>
                            <source src="assets/images/Template-Installation.mp4" type="video/mp4">

                          </video>



                          <ul class="bullet-list-ordered">
                          
                            <li>Download the Project Template from Visual Studio <a class="redirect-link"
                                href="https://marketplace.visualstudio.com/items?itemName=AjayOjha.rxwebcleanarchitecture"
                                target="_blank">Market Place</a></li>
                            <li>Run the downloaded VSIX file</li>
                            <li>Open the Visual Studio</li>
                            <li>Click on create the project</li>
                            <li>Select the Project Template of <span class="highlighted">Clean Architecture of
                                AspNetCore</span> and Goto Next</li>
                            <li>Enter the Project Name and tick the option of 'Place Solution and Project in the same
                              directory'</li>
                          </ul>


                        </div>
                        <div class="tab-pane active" *ngIf="mainTab=='cli'">

                          <video controls>
                            <source src="assets/images/cli-installation.mp4" type="video/mp4">

                          </video>

                          <ul class="bullet-list-ordered">
                           
                            <li>Open Command Prompt</li>
                            <li>Install the dotnet CLI of <a
                                href="https://www.nuget.org/packages/clean.architecture.aspnetcore/1.0.0"
                                class="redirect-link" target="_blank">AspNetCore Clean Architecture</a></li>
                            <li>Run the command for creating new project : <span class="highlighted">dotnet new rxwebapi
                                --name HumanResourceApplication</span></li>

                          </ul>

                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>

            </div>
        
       

</div>