<div>
  <rx-toast></rx-toast>
  <rx-dialog></rx-dialog>
  <rx-popup></rx-popup>
  <rx-spinner></rx-spinner>
  <app-top-bar *ngIf="!isHome"></app-top-bar>
  <main class="main">
<div class="row">
  <div class="col-sm-2 space-left-sidebar"*ngIf="!isHome">
    <app-side-bar></app-side-bar>
  </div>
  <!-- <div [@routerAnimation]="getRouteAnimation(route)"> -->
    <div class="col-sm-9 main-content">
      <router-outlet></router-outlet>
    </div>
  <!-- </div> -->
  </div>
  <app-right-sidebar *ngIf="rightSidebarLinks" [sidebarLinks]="rightSidebarLinks"></app-right-sidebar>
    

</main>
  <div *ngIf="showFooter">
    <app-footer></app-footer>
  </div>
</div>