<aside *ngIf="gitterAsideShow" class="gitter-chat-embed">
  <div class="gitter-chat-embed-action-bar">
    <a class="gitter-icon" aria-label="Open Chat in Gitter.im"
      href="https://gitter.im/rxweb-project/rxweb?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=body_badge"
      target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i></a>
    <button (click)="gitterAside()" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="gitter-chat-embed-loading-wrapper">
    <div class="gitter-chat-embed-loading-indicator gitter-icon"></div>
  </div>

  <iframe height="350" width="500" sandbox="allow-same-origin allow-scripts allow-popups allow-forms" frameborder="0"
    [src]="gitAsideUrl"></iframe>
</aside>

<div style="position:relative;min-height:90vh;">
  <rx-toast></rx-toast>
  <rx-dialog></rx-dialog>
  <rx-popup></rx-popup>
  <rx-spinner></rx-spinner>
  <app-top-bar [sidebarLinks]="rightSidebarLinks" *ngIf="!isHome"></app-top-bar>

  <header *ngIf="isHome" [class.ihomepage-header]="!isHome" class="home_page_header border-0">
    <nav class="navbar   py-0 pt-4">
            <a class="navbar-brand pl-md-5 pt-0" href="#"><img src="assets/images/logo.png" width="120" height="28"/></a>
            <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse d-inline-block" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto border-left d-inline-block">
                <!-- <li class="nav-item active">
                  <a class="nav-link" href="#"><span>AspNetCore</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><span>Front End</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><span>Back End</span></a>
                </li> -->
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>AspNetCore</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Angular</a>
                        </div>
                    </li>
              </ul>
            </div>
            <div class="main-heading ml-auto pr-md-5" >Clean Code. Built with Purpose</div>
          </nav>
</header>

  <!-- <header  class="header home-header-links">

    <div class="row">
      <div class="col-sm-11">


        <div class="header-links content dynamic-content">
          <img height="200" class="rxweb-new-logo" width="150" src="assets/images/Rx_Logo_200X46.png">
          <ul class="pull-right list-unstyled list-inline">
            <li class="list-inline-item">
              <a routerLink="/home" routerLinkActive="active">Reactive
                Forms</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/reactive-dynamic-forms/home" routerLinkActive="active">Dynamic Forms
              </a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/rx-web-core/step-by-step-guide/overview" routerLinkActive="active">RxWebCore
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </header> -->

  <main [class.main]="!isHome">

    <div class="row">
      <div class="col-sm-2 space-left-sidebar" *ngIf="!isHome">
        <app-side-bar *ngIf="isShowSidebar"></app-side-bar>
      </div>

      <!-- <div [@routerAnimation]="getRouteAnimation(route)"> -->
      <div class="main-content" [class.col-sm-9]="!isHome" [class.col-sm-12]="isHome">
        <router-outlet></router-outlet>
      </div>
      <!-- <ul class="navbar-nav fixed_chat_menu">
        <li class="nav-item active">
           <a class="nav-link d-flex align-items-center justify-content-center pr-2 py-1" href="#"><i class="fa fa-comment-o mr-2" aria-hidden="true"></i>Chat</a>
       </li>
      </ul> -->
      <!-- <ul *ngIf="!isHome" id="gitter-aside" class="quick-links list-unstyled">
        <li style="margin-top: -50px;"><a style="border-top: 1px solid #ccc;border-left: 1px solid #ccc;width: 51px;"
            target="_blank" (click)="gitterAside()"><i class="fa fa-comments"></i></a></li>
      </ul> -->

      <!-- </div> -->
    </div>
    <!-- <app-right-sidebar *ngIf="rightSidebarLinks" [sidebarLinks]="rightSidebarLinks"></app-right-sidebar> -->

  </main>

  <div *ngIf="showFooter" [class.home-footer]="isHome" [class.aspnet-footer]="isAspNetCore">

    <app-footer></app-footer>
  </div>
</div>