<aside *ngIf="gitterAsideShow" class="gitter-chat-embed">
  <div class="gitter-chat-embed-action-bar">
    <a class="gitter-icon" aria-label="Open Chat in Gitter.im"
      href="https://gitter.im/rxweb-project/rxweb?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=body_badge"
      target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i></a>
    <button (click)="gitterAside()" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="gitter-chat-embed-loading-wrapper">
    <div class="gitter-chat-embed-loading-indicator gitter-icon"></div>
  </div>

  <iframe height="350" width="500" sandbox="allow-same-origin allow-scripts allow-popups allow-forms" frameborder="0"
    [src]="gitAsideUrl"></iframe>
</aside>

<div style="position:relative;min-height:100vh;">
  <rx-toast></rx-toast>
  <rx-dialog></rx-dialog>
  <rx-popup></rx-popup>
  <rx-spinner></rx-spinner>
  <app-top-bar *ngIf="!isHome"></app-top-bar>

  <header *ngIf="isHome" class="header home-header-links">

    <div class="row">
      <div class="col-sm-11">


        <div class="header-links content dynamic-content">
            <img height="200" class="rxweb-new-logo" width="150" src="assets/images/Rx_Logo_200X46.png">
          <ul class="pull-right list-unstyled list-inline">
            <li class="list-inline-item">
              <a routerLink="/home" routerLinkActive="active">Reactive
                Forms</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/reactive-dynamic-forms/home" routerLinkActive="active">Dynamic Forms
              </a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/rx-web-core/step-by-step-guide/overview" routerLinkActive="active">RxWebCore
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </header>

  <main class="main">

    <div class="row">
      <div class="col-sm-2 space-left-sidebar" *ngIf="!isHome">
        <app-side-bar *ngIf="isShowSidebar"></app-side-bar>
      </div>


      <!-- <div [@routerAnimation]="getRouteAnimation(route)"> -->
      <div class="main-content" [class.col-sm-9]="!isHome" [class.col-sm-12]="isHome">
        <router-outlet></router-outlet>
      </div>

      <ul *ngIf="!isHome" id="gitter-aside" class="quick-links list-unstyled">    
        <li style="margin-top: -50px;"><a style="border-top: 1px solid #ccc;border-left: 1px solid #ccc;width: 51px;"
            target="_blank" (click)="gitterAside()"><i class="fa fa-comments"></i></a></li>
      </ul>

      <!-- </div> -->
    </div>
    <!-- <app-right-sidebar *ngIf="rightSidebarLinks" [sidebarLinks]="rightSidebarLinks"></app-right-sidebar> -->

  </main>

  <div *ngIf="showFooter" [class.home-footer]="isHome">

    <app-footer></app-footer>
  </div>
</div>
