<div class="main-header">
  <div class="home animate" [class.animate]="isAnimated">
      <div class="main-heading">Clean Code. Built with Purpose</div>
      <p class="text-content">The most powerful framework with tons of Angular Forms scenarios, which fulfil every large scale Angular Based Enterprise Application’s need.</p>
      <section class="rw-wrapper">
      <h2 class="rw-sentence">
        <span>It's easy to</span>
  
        <div class="rw-words rw-words-1">        
          <span>apply conditional validation</span>
          <span>validate the currency</span>
          <span>compare two fields</span>
          <span>manage date validation</span>
          <span>validate the file</span>
          <span>validate unique value</span>     
        </div>
      </h2>
      </section>
      <div class="typeit-block" style="text-align: left!important;width: 100%;max-width: 820px;margin-bottom: 30px;margin-top: 15px;">
        <!-- <span style="text-align:left;color: #383b47;font-weight: bold;padding-right:15px;font-size: 20px;">Why?</span> -->
        <span class="typeit" id="code_change"></span>
      </div>
      <div class="inline home-bttn">
        <button routerLink="/getting-started" class="btn home-page-links"><span class="btn-label">Let's get started</span></button>
      </div>
  </div>
</div>