<div *ngIf="content" class="content">
    <div class="container">
        <div class="bg-white border-radius">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="tab-content fade show">
                            <div class="tab-pane panel-body validation-tab active">
                                <div class='row page-section' id="about-reactiveformconfig">
                                    <div class='col-lg-12'>
                                        <!-- <h4>Select Validator</h4>
                                        <div class="form-group">
                                            <select class='form-control' #mySelect
                                                (change)='onOptionsSelected(mySelect.value)'>
                                                <option class='option' *ngFor='let option of dropDownData'
                                                    [value]="option" [selected]="option == selectedValidator">{{option}}
                                                </option>
                                            </select>
                                            <hr />
                                        </div> -->
                                        
                                        <div>
                                          
                                            <div class="title-bar">
                                                     <h1>{{validator}}</h1> 
                                                    <p>{{validatorDescription}}</p>
                                            </div>
                                          
                                            <app-example-runner [decoratorName]="validator" [refComponent]="refComponent" [title]="title" [content]="content" [showTab]="true" ></app-example-runner>

                                            

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-top-bar [sidebarLinks]="rightSidebarLinks"></app-top-bar>
</div>