<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Discipline Marks</label>
	    <input type="text" name="disciplineMarks" [(ngModel)]="user.disciplineMarks"  class="form-control" [rxlessThan]="{'fieldName':'obtainedMarks','messageKey':'lessThanMessageKey'}"/>

      <small class="form-text text-muted">Shows custom message based on message key<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.disciplineMarks?.errors">{{userForm.controls?.disciplineMarks?.errors?.lessThan.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
