<div>
  <form #userinfoForm = "ngForm" [rxwebForm]="userinfoForm" [model]="userinfo">
    <div class="form-group">
      <label>Confirmation Date</label>
	    <input type="text" name="confirmationDate" [(ngModel)]="userinfo.confirmationDate"  class="form-control" />

      <small class="form-text text-muted">Custom message based on messageKey<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.confirmationDate?.errors">{{userinfoForm.controls?.confirmationDate?.errors?.date.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
