<div id="wrapper" *ngIf="showComponent">
    <div class="content">
        <div class="title-bar"></div>
        <div class="bg-white border-radius">
            <div class="row">
                    <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body validation-tab">
                        <div class=' page-section whats-new'>
                            <div class='card' id="stronglyType">
                                <h3 class="card-header">1.8.4<a title="Link to this heading" class="link-header"
                                        routerLink="/whats-new" fragment="stronglyType"><i
                                            class="fa fa-link"></i></a></h3>
                                        <div class="card-body px-0">
                                         <a routerLink="/how-to/stronglyType/decorators" class="card-link">
                                            <h4>Strongly Typed FormControl</h4>
                                            <p>For making respective FormControls strongly typed with the model which is usefull while making complex forms</p>
                                         </a>   

                                         <a routerLink="/how-to/errorMessages/validators" fragment="useerrormessagewithoutinvertedcommainhtml" class="card-link">
                                            <h4>Use errorMessage property without inverted comma in the HTML</h4>
                                            <p>For using <span class="highlighted">errorMessage</span> just like AbstractControl properties without inverted comma in HTML.</p>
                                         </a>   
                                         
                                         <a routerLink="/how-to/bindConfig/validators" class="card-link">
                                            <h4>Bind Config Runtime</h4>
                                            <p>To bind the values of the formControls as per the <span class="highlighted">dynamicConfig</span> which is set as a property in the validator.</p>
                                         </a> 

                                         <a routerLink="/sanitization/escape/decorators" class="card-link">
                                            
                                            <h4>Escape sanitizer</h4>
                                            <p>escapes the string when the user enters the input.</p>
                                         </a>                                        
                                        </div>
                                       
                            </div>
                            <div class='card' id="boolean">
                                <h3 class="card-header">1.8.3<a title="Link to this heading" class="link-header"
                                    routerLink="/whats-new" fragment="boolean"><i
                                        class="fa fa-link"></i></a></h3>
                                      <div class="card-body px-0">
                                            <a routerLink="/sanitization/toBoolean/decorators" class="card-link">
                                            <h4>Improvement in Sanitizers</h4>
                                            <p><span class="highlighted">strictActive</span>- property in toBooleand and <span class="highlighted">radix</span> in toInt sanitizer.</p>
                                         </a> 
                                        </div>
                            </div>
                            <div class='card' id="patchmodel">
                                <h3 class="card-header">1.8.2<a title="Link to this heading" class="link-header"
                                    routerLink="/whats-new" fragment="patchmodel"><i
                                        class="fa fa-link"></i></a></h3>
                                     <div class="card-body px-0">
                                        <a routerLink="/api/RxFormBuilder/decorators" class="card-link">
                                            <h4>patchModelValue method in RxFormBuilder</h4>
                                            <p>patchModelValue is used to patch value of model properties of RxFormGroup.</p>
                                         </a> 

                                         <a routerLink="/form-validations/compose/validators" fragement="messagekey" class="card-link">
                                            <h4>Message key for custom messages</h4>
                                            <p>To globally declare <span class="highlighted">messageKey</span> in reactiveFormConfig for custom messages.</p>
                                         </a> 
                                         </div>
                            </div>
                           
                            <div class='card' id="disable">
                                <h3 class="card-header">1.8.0<a title="Link to this heading" class="link-header"
                                    routerLink="/whats-new" fragment="disable"><i
                                        class="fa fa-link"></i></a></h3>
                                    <div class="card-body px-0">
                                        <a routerLink="/decorators/disable/decorators" class="card-link">
                                            <h4>disable Decorator</h4>
                                            <p>To disable decorator conditionally.</p>
                                         </a> 

                                         <a routerLink="/decorators/error/decorators" class="card-link">
                                            <h4>error Decorator</h4>
                                            <p>To bind error message conditionally.</p>
                                         </a> 
                                        </div>
                            </div>
                          
                        </div>
                        </div>
                    </div>                    
                </div>
                </div>
            </div>
        </div>
        <app-right-sidebar [sidebarLinks]="rightSidebarLinks"></app-right-sidebar>
</div>