<div id="wrapper" *ngIf="showComponent">
    <div class="content">
        <div class="title" id="whats-new" [class.sticky] = "sticky">
                <h1>What's New</h1>
         </div>
         <div class="title-bar">
            <p>Before talking about the coming new feature, we would like to share about our long-term vision for rxweb in open source.
            </p>
        </div>

        <div class="bg-white border-radius">
            <div class="row">
                <div class="hpanel">
                    <div class="panel-body validation-tab">
                        <div class='row page-section' id="our-vision">
                            <div class='col-lg-12'>
                                <h2>Our vision for rxweb framework is...<a title="Link to this heading" class="link-header"
                                        routerLink="/whats-next" fragment="our-vision"><i
                                            class="fa fa-link"></i></a></h2>
                                            <h4>Core Values:</h4>
                                <ul>    
                                     <li>Focus on those features which are not available in Angular framework or taking more efforts to achieve with the standard approach.</li>
                                       <li>Issues and pull requests get handled within reasonable time as per our issue workflow.</li>
                                       <li>99% test coverage.</li>
                                       <li>Always willing to help or guidance.</li>
                                       <li>Always welcome new comers and respect their valuable effort as experts.</li>
                                       <li>seeking to improve ourselves and our community.</li>
                                       <li>recognize and validate contributions.</li>
                               </ul>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
</div>