<div id="wrapper" *ngIf="showComponent">
   <div id="tabs" #tabs>
      <div class="content">
         <div class="title-bar">

         </div>
         <div class="bg-white border-radius whats-new-links">
            <div class="row">
               <div class="col-lg-12">
                  <div class="hpanel">
                     <ul class="nav nav-pills">
                        <li class="nav-item">
                           <a class="nav-link active" href="#search" [ngClass]="{ 'active':activeTab==='search'}"
                              (click)="search('search')" data-toggle="tab">Reactive Forms</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#results" [ngClass]="{ 'active':activeTab==='result'}"
                              data-toggle="tab" (click)="result('result')">Dynamic Forms</a>
                        </li>
                     </ul>
                     <div class="tab-content">
                        <div [ngClass]="{ 'active':activeTab==='search'}" id="search"
                           class="tab-pane panel-body validation-tab">
                           <div class=' page-section whats-new'>
                              <div class='card' id="dynamicConfig">
                                 <h3 class="card-header">1.9.2<a title="Link to this heading" class="link-header"
                                       routerLink="/whats-new"><i class="fa fa-link"></i></a></h3>
                                 <div class="card-body px-0">
                                    <a routerLink="/how-to/bindConfig/validators"
                                       fragment="mergedynamicconfigreturnedobjectwithbaseconfig" class="card-link">
                                       <h4>Merge dynamicConfig returned object with base config</h4>
                                       <p>Only those properties you want to return dynamically needs to be configured
                                          rest all
                                          are already defined while initializing the respective validator.</p>
                                    </a>

                                 </div>
                              </div>
                              <div class='card' id="compose">
                                 <h3 class="card-header">1.9.1<a title="Link to this heading" class="link-header"
                                       routerLink="/whats-new" fragment="compose"><i class="fa fa-link"></i></a></h3>
                                 <div class="card-body px-0">
                                    <a routerLink="/form-validations/compose/decorators" class="card-link">
                                       <h4>New Validation Decorator</h4>
                                       <p>added new decorator of compose, where a dev can bind the custom validation
                                          function
                                          and it should provide conditionalExpression feature as well.</p>
                                    </a>
                                    <a routerLink="/decorators/propArray/decorators"
                                       fragment="proparraybasedonentityinstance" class="card-link">
                                       <h4>Resolve entity on demand</h4>
                                       <p>If you want the entity of the propArray entity conditionally.</p>
                                    </a>

                                 </div>
                              </div>
                              <div class='card' id="value">

                                 <h3 class="card-header">1.9.0<a title="Link to this heading" class="link-header"
                                       routerLink="/whats-new" fragment="value"><i class="fa fa-link"></i></a></h3>
                                 <div class="card-body px-0">
                                    <a routerLink="/form-validations/greaterThan/validators" fragment="value"
                                       class="card-link">
                                       <h4>add value property in <span class="highlighted">greaterThan</span> and <span
                                             class="highlighted">greaterThanEqualTo</span> validator config </h4>
                                       <p>New value property in greaterThan and greaterThanEqualTo through configuring
                                          it the
                                          validation can be done based upon a static value.</p>
                                    </a>
                                    <a routerLink="/form-validations/lessThan/validators" fragment="value"
                                       class="card-link">
                                       <h4>add value property in <span class="highlighted">lessThan</span> and <span
                                             class="highlighted">lessThanEqualTo</span> validator config </h4>
                                       <p>New value property in lessThan and lessThanEqualTo through configuring it the
                                          validation can be done based upon a static value.</p>
                                    </a>
                                    <a routerLink="/how-to/commit/validators" class="card-link">
                                       <h4>add a new method of <span class="highlighted">commit</span> in RxFormGroup
                                       </h4>
                                       <p>commit method is used to update the value of the baseObject in RxFormGroup, It
                                          will
                                          take the whole snapshot of the FormControls.</p>
                                    </a>
                                    <a routerLink="/how-to/dirtyCheck/validators" class="card-link">
                                       <h4>add new property of <span class="highlighted">isModified</span> in
                                          RxFormGroup</h4>
                                       <p>isModified is used to check whether there are any changes in the formControls.
                                       </p>
                                    </a>
                                    <a routerLink="/how-to/modifiedValue/validators" class="card-link">
                                       <h4>add new property of <span class="highlighted">modifiedValue</span> in
                                          RxFormGroup
                                       </h4>
                                       <p>modifiedValue is used to patch value by sending only the data which is changed
                                          instead of sending the whole form data.</p>
                                    </a>
                                    <a routerLink="/api/FormBuilderConfiguration/decorators"
                                       fragment="dynamicallysetdefaultvalue" class="card-link">
                                       <h4>dynamically set default value in propconfig</h4>
                                       <p>To set the default value dynamically from the component at any point in time.
                                       </p>
                                    </a>
                                    <a routerLink="/decorators/prop/decorators"
                                       fragment="excludepropertiesconditionally" class="card-link">
                                       <h4>Exclude properties conditionally</h4>
                                       <p>To exclude properties dynamically based on specific condition.</p>
                                    </a>
                                    <a routerLink="/how-to/resetForm/validators" class="card-link">
                                       <h4>Extend feature of resetForm method</h4>
                                       <p>New features of reseting formControls,formGroups and formArrays including
                                          nested
                                          level.</p>
                                    </a>
                                    <a routerLink="/form-validations/minTime/validators" class="card-link">
                                       <h4>minTime and maxTime Validations</h4>
                                       <p>New minTime and maxTime validations with operator and value properties.</p>
                                    </a>
                                    <a routerLink="/api/FormBuilderConfiguration/decorators"
                                       fragment="ignoreundefinedprops" class="card-link">
                                       <h4>ignore Undefined Props</h4>
                                       <p>This is used to ignore the undefined properties dynamically.</p>
                                    </a>
                                 </div>
                              </div>
                              <div class='card' id="globalBind">
                                 <h3 class="card-header">1.8.9<a title="Link to this heading" class="link-header"
                                       routerLink="/whats-new" fragment="globalBind"><i class="fa fa-link"></i></a></h3>
                                 <div class="card-body px-0">
                                    <a routerLink="/how-to/errorMessageStrategy/decorators" class="card-link">
                                       <h4>Globally Bind Error Message Strategy </h4>
                                       <p>When the throughout application have the same strategy of showing error
                                          messages, we
                                          can configure the strategy globally and it works accordingly.</p>
                                    </a>

                                 </div>
                              </div>

                              <div class='card' id="generic">
                                 <h3 class="card-header">1.8.6<a title="Link to this heading" class="link-header"
                                       routerLink="/whats-new" fragment="generic"><i class="fa fa-link"></i></a></h3>
                                 <div class="card-body px-0">
                                    <a routerLink="/how-to/genericModel/decorators" class="card-link">
                                       <h4>Generic object property at nested level</h4>
                                       <p>This gives you more felxibility to manage the nested FormGroup and FormArray.
                                       </p>
                                    </a>
                                    <a routerLink="/decorators/model/decorators" class="card-link">
                                       <h4>model Decorator</h4>
                                       <p>This is helpfull where your same validation as well as showing error messages
                                          conditionally.</p>
                                    </a>
                                    <a routerLink="/decorators/elementClass/decorators" class="card-link">
                                       <h4>elementClass Decorator</h4>
                                       <p>You can set the element class conditionaly through your TS code.</p>
                                    </a>
                                    <a routerLink="/sanitization/prefix/decorators" class="card-link">
                                       <h4>prefix sanitizer</h4>
                                       <p>Allows you to add prefix to the input.</p>
                                    </a>
                                    <a routerLink="/sanitization/suffix/decorators" class="card-link">
                                       <h4>suffix sanitizer</h4>
                                       <p>Allows you to add suffix to the input.</p>
                                    </a>
                                    <a routerLink="/sanitization/sanitize/decorators" class="card-link">
                                       <h4>custom sanitizer</h4>
                                       <p>You can sanitize the value based upon your business logic.</p>
                                    </a>
                                 </div>
                              </div>

                              <div class='card' id="stronglyType">
                                 <h3 class="card-header">1.8.4<a title="Link to this heading" class="link-header"
                                       routerLink="/whats-new" fragment="stronglyType"><i class="fa fa-link"></i></a>
                                 </h3>
                                 <div class="card-body px-0">
                                    <a routerLink="/how-to/stronglyType/decorators" class="card-link">
                                       <h4>Strongly Typed FormControl</h4>
                                       <p>For making respective FormControls strongly typed with the model which is
                                          usefull
                                          while making complex forms</p>
                                    </a>

                                    <a routerLink="/how-to/errorMessages/validators"
                                       fragment="useerrormessagewithoutinvertedcommainhtml" class="card-link">
                                       <h4>Use errorMessage property without inverted comma in the HTML</h4>
                                       <p>For using <span class="highlighted">errorMessage</span> just like
                                          AbstractControl
                                          properties without inverted comma in HTML.</p>
                                    </a>

                                    <a routerLink="/how-to/bindConfig/validators" class="card-link">
                                       <h4>Bind Config Runtime</h4>
                                       <p>To bind the values of the formControls as per the <span
                                             class="highlighted">dynamicConfig</span> which is set as a property in the
                                          validator.</p>
                                    </a>

                                    <a routerLink="/sanitization/escape/decorators" class="card-link">
                                       <h4>Escape sanitizer</h4>
                                       <p>escapes the string when the user enters the input.</p>
                                    </a>
                                 </div>

                              </div>
                              <div class='card' id="boolean">
                                 <h3 class="card-header">1.8.3<a title="Link to this heading" class="link-header"
                                       routerLink="/whats-new" fragment="boolean"><i class="fa fa-link"></i></a></h3>
                                 <div class="card-body px-0">
                                    <a routerLink="/sanitization/toBoolean/decorators" class="card-link">
                                       <h4>Improvement in Sanitizers</h4>
                                       <p><span class="highlighted">strictActive</span>- property in toBooleand and
                                          <span class="highlighted">radix</span> in toInt sanitizer.</p>
                                    </a>
                                 </div>
                              </div>
                              <div class='card' id="patchmodel">
                                 <h3 class="card-header">1.8.2<a title="Link to this heading" class="link-header"
                                       routerLink="/whats-new" fragment="patchmodel"><i class="fa fa-link"></i></a></h3>
                                 <div class="card-body px-0">
                                    <a routerLink="how-to/patchModelValue/validators" class="card-link">
                                       <h4>patchModelValue method in RxFormBuilder</h4>
                                       <p>patchModelValue is used to patch value of model properties of RxFormGroup.</p>
                                    </a>

                                    <a routerLink="/form-validations/compose/validators" fragement="messagekey"
                                       class="card-link">
                                       <h4>Message key for custom messages</h4>
                                       <p>To globally declare <span class="highlighted">messageKey</span> in
                                          reactiveFormConfig for custom messages.</p>
                                    </a>
                                 </div>
                              </div>

                              <div class='card' id="disable">
                                 <h3 class="card-header">1.8.0<a title="Link to this heading" class="link-header"
                                       routerLink="/whats-new" fragment="disable"><i class="fa fa-link"></i></a></h3>
                                 <div class="card-body px-0">
                                    <a routerLink="/decorators/disable/decorators" class="card-link">
                                       <h4>disable Decorator</h4>
                                       <p>To disable decorator conditionally.</p>
                                    </a>

                                    <a routerLink="/decorators/error/decorators" class="card-link">
                                       <h4>error Decorator</h4>
                                       <p>To bind error message conditionally.</p>
                                    </a>
                                 </div>
                              </div>

                           </div>
                        </div>
                        <div [ngClass]="{ 'active':activeTab==='result'}" class="tab-pane panel-body validation-tab"
                           id="results">
                           <div class=' page-section whats-new'>
            
                              <div class='card' id="rdf">
                                 <h3 class="card-header">0.0.0-2<a title="Link to this heading" class="link-header"
                                       routerLink="/whats-new"><i class="fa fa-link"></i></a></h3>
                                 <div class="card-body px-0">
                                    <a routerLink="/reactive-dynamic-forms/advance-form-design/nestedformgroup"
                                       class="card-link">
                                       <h4>Nested FormGroup and Nested FormArray.</h4>
                                       <p>To create a nested FormGroup in your dynamic form, you need to pass nested formControl details in the server response. In additionalConfig property , you need to mention the parent formGroup name and nested formControl names in the childrens array.</p>
                                    </a>

                                 </div>
                              </div>
                              <div class='card' id="rdf1">
                                 <h3 class="card-header">0.0.0-1<a title="Link to this heading" class="link-header"
                                       routerLink="/whats-new"><i class="fa fa-link"></i></a></h3>
                                 <div class="card-body px-0">
                                    <a routerLink="/reactive-dynamic-forms/dynamic-forms/dynamic"
                                       class="card-link">
                                       <h4>Binding Custom Component</h4>
                                       <p>rxweb dynamic forms is giving wide variety of features including horizontal and inline form, customized sizing for formControls, customized controls like plaintext mode for checkbox, radio and other formcontrols.</p>
                                    </a>

                                 </div>
                              </div>
                              <div class='card' id="rdf0">
                                 <h3 class="card-header">0.0.0-0<a title="Link to this heading" class="link-header"
                                       routerLink="/whats-new"><i class="fa fa-link"></i></a></h3>
                                 <div class="card-body px-0">
                                    <a routerLink="/reactive-dynamic-forms/conditional-binding/conditionalclass"
                                        class="card-link">
                                       <h4>Conditional Binding</h4>
                                       <p>For conditionally binding ui features</p>
                                    </a>
                                    <a routerLink="/reactive-dynamic-forms/controls/dropdown"
                                    fragment="cascadingdropdownwithsyncsourcebinding" class="card-link">
                                       <h4>Cascading Dropdown</h4>
                                       <p>You can create cascading dropdown with sync and async source binding.</p>
                                    </a>
                                    <a routerLink="/reactive-dynamic-forms/dynamic-forms/dynamic"
                                        fragment="customclassforsizing" class="card-link">
                                       <h4>Layout customization</h4>
                                       <p>To apply customized sizing on formcontrols .</p>
                                    </a>

                                    <a routerLink="/reactive-dynamic-forms/dynamic-validation" [queryParams]="{validator: 'date'}"
                                       class="card-link">
                                       <h4>Form Validation</h4>
                                       <p>Dynamic Form Validations.</p>
                                    </a>
                                    <a routerLink="/reactive-dynamic-forms/dynamic-forms/asyncvalidation"
                                        class="card-link">
                                       <h4>Async Form Validation</h4>
                                       <p>To custom async validation on the particular formControl, you need to pass the modelName for the formControl in the server response and bind custom validation name in the model property of controlConfigModels.</p>
                                    </a>
                                    <a routerLink="/reactive-dynamic-forms/dynamic-forms/dynamicerrormessagestrategy"
                                        class="card-link">
                                       <h4>Error Message stratergy</h4>
                                       <p>Whenever we want to use the same error message strategy throughout the application we need to configure the errorbinding strategy globally.</p>
                                    </a>
                                    <a routerLink="/reactive-dynamic-forms/dynamic-forms/dynamicresetform"
                                       class="card-link">
                                       <h4>Reset Dynamic Form</h4>
                                       <p>ResetForm helps you to reset the form with the initially defined value.</p>
                                    </a>

                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <app-right-sidebar [sidebarLinks]="rightSidebarLinks"></app-right-sidebar>
</div>