<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Alternate Contact Number</label>
	    <input type="text" name="alternateContactNumber" [(ngModel)]="user.alternateContactNumber"  class="form-control" [rxmask]="{'mask':'9999999999','messageKey':'maskMessageKey'}"/>

	   <small class="form-text text-danger" *ngIf="userForm.controls?.alternateContactNumber?.errors">{{userForm.controls?.alternateContactNumber?.errors?.mask.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
