<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Agree to terms and conditions</label>&nbsp;
      <input type="checkbox" name="isAgree" [(ngModel)]="user.isAgree"   requiredTrue/><br/>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.isAgree?.errors">{{userForm.controls?.isAgree?.errors?.requiredTrue.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>CheckMeOut</label>&nbsp;
      <input type="checkbox" name="checkMeOut" [(ngModel)]="user.checkMeOut"   [requiredTrue]="{'conditionalExpression':'x => x.isAgree == true'}"/><br/>
      <small class="form-text text-muted">Conditional validation will be applied if the isAgree checkbox is  true<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.checkMeOut?.errors">{{userForm.controls?.checkMeOut?.errors?.requiredTrue.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>IsActive</label>&nbsp;
      <input type="checkbox" name="isActive" [(ngModel)]="user.isActive"   [requiredTrue]="{'message':'This should be true.'}"/><br/>
      <small class="form-text text-muted">Shows Custom Validation Message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.isActive?.errors">{{userForm.controls?.isActive?.errors?.requiredTrue.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>IsBlocked</label>&nbsp;
      <input type="checkbox" name="isBlocked" [(ngModel)]="user.isBlocked"   [requiredTrue]="{'messageKey':'requiredTrueMessageKey'}"/><br/>
      <small class="form-text text-muted">Shows Custom Validation Message based on message key<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.isBlocked?.errors">{{userForm.controls?.isBlocked?.errors?.requiredTrue.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
