<h4 class="example-title">{{global.scopedTitle}}</h4>
<form class="work-sanslight mg-left-5 form-font-size">
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">{{global.text.freeText}}</label>
    <div class="col-sm-10">
      <input type="text" [(ngModel)]="freeText" [ngModelOptions]="{standalone: true}" [placeholder]="global.placeholder.freeText" class="form-control">
      <div class="alert alert-warning alert-dismissible fade show" style="margin-top:5px;">
        {{global.text.enteredText}} 
      </div>
    </div>
    
  </div>
</form>
