<div>
  <form #userinfoForm = "ngForm" [rxwebForm]="userinfoForm" [model]="userinfo">
    <div class="form-group">
      <label>Profile Image</label>
	    <input type="file" name="profileImage"
            [(ngModel)]="userinfo.profileImage"  class="form-control"
      [rxextension]="{'extensions':['jpg','bmp'],'isExcludeExtensions':true}"/>

      <small class="form-text text-muted">This field will not allow file extension as jpg or bmp.<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.profileImage?.errors">{{userinfoForm.controls?.profileImage?.errors?.extension.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
