<div>
  <form  [formGroup]="countryFormGroup">
    <div class="form-group">
      <label>Fourth Country</label>
      <input type="text" formControlName="fourthCountry" class="form-control"  />
      <small class="form-text text-muted">Shows custom message based on message key.<br/></small>
	<small class="form-text text-danger" *ngIf="countryFormGroup.controls.fourthCountry.errors">{{countryFormGroup.controls.fourthCountry.errors.latLong.message}}<br/></small>
    </div>
    <button [disabled]="!countryFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
