<div>
  <form #subjectdetailsForm = "ngForm" [rxwebForm]="subjectdetailsForm" [model]="subjectdetails">
    <div class="form-group">
      <label>Discipline Marks</label>
	    <input type="text" name="disciplineMarks" [(ngModel)]="subjectdetails.disciplineMarks"  class="form-control" />

      <small class="form-text text-muted">Shows custom message based on message key<br/></small>
	   <small class="form-text text-danger" *ngIf="subjectdetailsForm.controls?.disciplineMarks?.errors">{{subjectdetailsForm.controls?.disciplineMarks?.errors?.maxNumber.message}}<br/></small>	
    </div>
    <button [disabled]="!subjectdetailsForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
