<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>First Number</label>
      <input type="text" formControlName="firstNumber" class="form-control"  />
     <small class="form-text text-danger" *ngIf="userFormGroup.controls.firstNumber.errors">{{userFormGroup.controls.firstNumber.errors.factor.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Fifth Number</label>
      <input type="text" formControlName="fifthNumber" class="form-control"  />
      <small class="form-text text-muted">To apply the validation of factor on 'Fifth Number' field<br/></small>
     <small class="form-text text-danger" *ngIf="userFormGroup.controls.fifthNumber.errors">{{userFormGroup.controls.fifthNumber.errors.factor.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Fourth Number</label>
      <input type="text" formControlName="fourthNumber" class="form-control"  />
      <small class="form-text text-muted">you can enter only factors of 50<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
     <small class="form-text text-danger" *ngIf="userFormGroup.controls.fourthNumber.errors">{{userFormGroup.controls.fourthNumber.errors.factor.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Sixth Number</label>
      <input type="text" formControlName="sixthNumber" class="form-control"  />
      <small class="form-text text-muted">you can enter only factors of 30<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
     <small class="form-text text-danger" *ngIf="userFormGroup.controls.sixthNumber.errors">{{userFormGroup.controls.sixthNumber.errors.factor.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Seventh Number</label>
      <input type="text" formControlName="seventhNumber" class="form-control"  />
      <small class="form-text text-muted">custom message based on messageKey<br/></small>
     <small class="form-text text-danger" *ngIf="userFormGroup.controls.seventhNumber.errors">{{userFormGroup.controls.seventhNumber.errors.factorMessageKey.message}}<br/></small>		
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
