<div id="wrapper" *ngIf="showComponent">
    <div class="content">
      <div class="title-bar">
        <p> The most powerful and well-factored validation framework for vue based enterprise application.</p>
      </div>

        <div class="bg-white border-radius" style="margin-top:22px;">
            <div class="row">
                <div class="col-lg-12">

                    <div class="hpanel">
                        <div class="tab-content fade show">
                            <div class="tab-pane panel-body validation-tab active">
                                <div class="row page-section" id="examples" key="dynamic">
                                    <div class='col-lg-12'>
                                     
                                      <div class="tab-content p-4">
                                        <div class="tab-pane active">
                                          <img src="assets/images/quickstartvue.gif" />
                                        </div>                                       
                                      </div>
                                    </div>
                                </div>
                              
                                <app-contribution></app-contribution>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-top-bar></app-top-bar>
</div>
