<div id="wrapper">
    <div class="content">

        <div class="title-bar" style="padding-bottom:9px;">
            <h1>Articles</h1>
            <p>This documentation accommodates articles of our reactive-form-validators posted on various platforms.
            </p>
        </div>
        <hr />
        <div class="bg-white border-radius">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="hpanel">
                        <div class="panel-body validation-tab what-next">
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://webdesigntips.blog/web-design/javascript/example-strongly-type-angular-reactive-form-using-rxweb/">
                                            <h4>Strongly Type Angular Reactive Form using RxWeb.
                                            </h4>
                                            <small style="font-size: 108%;">John R. Shields</small>&nbsp; <small
                                                class="text-muted">June 19 2020</small><br> <small
                                                class="text-muted">webdesigntips.blog</small>
                                            <p style="font-size: 15px;">If you are thinking the reactive form code must be readable, extensible and maintainable without writing more business logic in the Component. Expecting the below problems intuitive solution then I would suggest Class Driven Strongly Typed solution would be the best solution.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://medium.com/javascript-in-plain-english/decorator-based-reactive-forms-in-angular-an-efficient-way-to-validate-forms-1cdc11a0918d">
                                            <h4>Decorator based reactive forms in Angular — An efficient way to validate
                                                forms.
                                            </h4>
                                            <small style="font-size: 108%;">Kaushik Samantha</small>&nbsp; <small
                                                class="text-muted">May 11 2020</small><br> <small
                                                class="text-muted">medium.com</small>
                                            <p style="font-size: 15px;">In this article, we will discuss the reactive forms approach with decorator based validation. But before going into that first I will explain how to work without the decorator approach. </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://webdesigntips.blog/web-design/javascript/new-way-to-validate-the-angular-reactive-form/">
                                            <h4>New Way to Validate the Angular Reactive Form.
                                            </h4>
                                            <small style="font-size: 108%;">John R. Shields</small>&nbsp; <small
                                                class="text-muted">Apr 9 2020</small><br> <small
                                                class="text-muted">webdesigntips.blog</small>
                                            <p style="font-size: 15px;">Here, We will discuss model object based reactive form validation, which overcomes the current challenges of angular reactive forms</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://dev.to/ushmidave/conditional-validation-in-angular-using-rxweb-4fck">
                                            <h4>Conditional Validation In Angular Using RxWeb.
                                            </h4>
                                            <small style="font-size: 108%;">Ushmi Dave</small>&nbsp; <small
                                                class="text-muted">Apr 4 2020</small><br> <small
                                                class="text-muted">dev.to</small>
                                            <p style="font-size: 15px;"> Conditional validation is possible with a simpler, neater and lesser code with just using one property during assigning the validator during the formControl initialization itself </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://dev.to/ushmidave/conditional-validation-in-angular-using-rxweb-4fck">
                                            <h4>Angular Reactive Form Value Reset Stratergy using RxWeb.
                                            </h4>
                                            <small style="font-size: 108%;">Ushmi Dave</small>&nbsp; <small
                                                class="text-muted">Apr 1 2020</small><br> <small
                                                class="text-muted">dev.to</small>
                                            <p style="font-size: 15px;">In such cases, whenever we reset the form it clears the input value but what if we want to reset the form to the initialized values. I found a solution to it using resetForm method of @rxweb/reactive-form-validators</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://dev.to/ushmidave/conditional-validation-in-angular-using-rxweb-4fck">
                                            <h4>Angular Validations Engine.
                                            </h4>
                                            <small style="font-size: 108%;">Jose Gomes</small>&nbsp; <small
                                                class="text-muted">Jan 23 2020</small><br> <small
                                                class="text-muted">levelup.gitconnected.com</small>
                                            <p style="font-size: 15px;">Hello all! In this article, we will talk about reactive forms and how to set up a generic engine to handle errors without the need of creating repetitive conditional code to show error messages based on the current state of our reactive form.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr />

                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://dev.to/ushmidave/5-reasons-to-choose-model-based-reactive-forms-using-rxweb-2mme">
                                            <h4>5 Reasons to Choose Model Based Reactive Forms Using RxWeb.</h4>
                                            <small style="font-size: 108%;">Ushmi Dave</small>&nbsp; <small
                                                class="text-muted">March 31 2020</small><br> <small
                                                class="text-muted">dev.to</small>
                                            <p style="font-size: 15px;">Enterprise applications build in angular are not just data binding components, they involve lots of new business rules, use cases implemented everyday with a lot of increasing complexity to fulfill the application needs.</p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://dev.to/ushmidave/simplified-angular-reactive-forms-2l47">
                                            <h4>Simplified Angular Reactive Forms.</h4>
                                            <small style="font-size: 108%;">Ushmi Dave</small>&nbsp; <small
                                                class="text-muted">March 30 2020</small><br> <small
                                                class="text-muted">dev.to</small>
                                            <p style="font-size: 15px;">Components are tend to process for performing various actions on the data which involves large forms including formArrays, nested form groups and complex types of validations which involve a lot of custom business logic to be written which results to lengthy and clumsy code of the component. While using model driven approach all these things are maintained in the model class and then the props are grouped in the form as a control</p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://dev.to/ushmidave/class-abstraction-in-angular-reactive-forms-235i">
                                            <h4>Class Abstraction in angular reactive forms.</h4>
                                            <small style="font-size: 108%;">Ushmi Dave</small>&nbsp; <small
                                                class="text-muted">Aug 9 2019</small><br> <small
                                                class="text-muted">dev.to</small>
                                            <p style="font-size: 15px;">While using model driven approach in angular reactive forms, we might be in need to use the properties of base class into derived class.

                                                Here is a way to access properties of base class into derived class and also hide the complexity of inherited classes.</p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://dev.to/ushmidave/make-angular-reactive-forms-strongly-typed-i8g">
                                            <h4>Make angular reactive forms strongly typed.</h4>
                                            <small style="font-size: 108%;">Ushmi Dave</small>&nbsp; <small
                                                class="text-muted">July 2 2019</small><br> <small
                                                class="text-muted">dev.to</small>
                                            <p style="font-size: 15px;">Reactive forms are complex, Hence they must be strongly typed with the respective model.

                                                This can be achieved through IFormGroup </p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://dev.to/ushmidave/improve-your-way-to-validate-angular-reactive-forms-574l">
                                            <h4>Improve your way to validate angular reactive forms.</h4>
                                            <small style="font-size: 108%;">Ushmi Dave</small>&nbsp; <small
                                                class="text-muted">Jun 25 2019</small><br> <small
                                                class="text-muted">dev.to</small>
                                            <p style="font-size: 15px;">When it to comes to large data oriented forms, complexity increases while validating the controls and so it becomes necessary to use a better and efficient approach to validate them.</p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                         
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://dev.to/ushmidave/best-way-to-show-error-messages-in-angular-reactive-forms-3e31">
                                            <h4>Best way to show error messages in angular reactive forms.</h4>
                                            <small style="font-size: 108%;">Ushmi Dave</small>&nbsp; <small
                                                class="text-muted">Jun 15 2019</small><br> <small
                                                class="text-muted">dev.to</small>
                                            <p style="font-size: 15px;">When multiple validations are involved in a single formControl, we need to put multiple *ngIf in the HTML and bind the respective validator's error messages which makes the code clumsy.

                                                Here, we will discuss the approach of showing error message in a better and simplified way. </p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://dev.to/ajayojha/unique-value-validation-in-formarray-of-angular-3g80">
                                            <h4>Unique value validation in FormArray of Angular.</h4>
                                            <small style="font-size: 108%;">Ajay Ojha</small>&nbsp; <small
                                                class="text-muted">March 20 2019</small><br> <small
                                                class="text-muted">dev.to</small>
                                            <p style="font-size: 15px;">Here, we discuss the approach of unique value validation on FormControl inside the FormArray.

                                                we build a Job Application Form, where the user can enter about his name and skills. Skills must be unique. </p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://dev.to/ajayojha/file-validation-in-angular-reactive-form-4e4g">
                                            <h4>File validation in Angular Reactive Form.</h4>
                                            <small style="font-size: 108%;">Ajay Ojha</small>&nbsp; <small
                                                class="text-muted">March 20 2019</small><br> <small
                                                class="text-muted">dev.to</small>
                                            <p style="font-size: 15px;">File validation is a little bit clumsy task to do in the angular reactive forms. Here we discuss how we can optimize the code and achieve our goal to validate the file before passing to the server.</p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://dev.to/ajayojha/decimal-number-validation-and-apply-the-currency-format-in-angular-3dbe">
                                            <h4>Decimal Number validation and apply the Currency Format in Angular.</h4>
                                            <small style="font-size: 108%;">Ajay Ojha</small>&nbsp; <small
                                                class="text-muted">March 17 2019</small><br> <small
                                                class="text-muted">dev.to</small>
                                            <p style="font-size: 15px;">We discuss how we can validate the decimal number and also format the number as per the locale of the application.

                                                We usually create a custom validator for numeric validation and the custom directive to format the number(120,875,256.25).
                                                
                                                But here, we do not create any custom validator/directive to fulfill the need.
                                                
                                                We use RxwebValidators to validate the decimal value as well as format the number. </p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://dev.to/ajayojha/compare-password-in-angular-with-rxwebvalidator-552n">
                                            <h4>Compare Password in Angular with RxwebValidator.</h4>
                                            <small style="font-size: 108%;">Ajay Ojha</small>&nbsp; <small
                                                class="text-muted">March 16 2019</small><br> <small
                                                class="text-muted">dev.to</small>
                                            <p style="font-size: 15px;">Here, we discuss the approach of how to compare the password with the RxwebValidators. </p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://medium.com/@oojhaajay/error-to-show-conditional-error-messages-in-angular-a3abf8a32f1a">
                                            <h4>@error() to show conditional error messages in Angular.</h4>
                                            <small style="font-size: 108%;">Ajay Ojha</small>&nbsp; <small
                                                class="text-muted">March 3 2019</small><br> <small
                                                class="text-muted">medium.com</small>
                                            <p style="font-size: 15px;">Here we discuss the new approach to show the error message conditionally without *ngIf.
                                                We usually write *ngIf with the long expression on the HTML element to show the error message conditionally 😏 . </p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://medium.com/@oojhaajay/error-to-show-conditional-error-messages-in-angular-a3abf8a32f1a">
                                            <h4>rxweb: Good way to show the error messages in Angular Reactive Forms.</h4>
                                            <small style="font-size: 108%;">Ajay Ojha</small>&nbsp; <small
                                                class="text-muted">Feb 26 2019</small><br> <small
                                                class="text-muted">medium.com</small>
                                            <p style="font-size: 15px;">Angular provides an easy way to show the error message. But when multiple error messages are coming into the picture on single FormControl, then the code will be messed up on the HTML. </p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://medium.com/@oojhaajay/the-new-way-of-formgroup-data-binding-and-validate-nested-formgroup-and-formarray-in-angular-73fc9f2cdec5">
                                            <h4>The new way of FormGroup Data binding and validate nested FormGroup and FormArray in Angular.</h4>
                                            <small style="font-size: 108%;">Ajay Ojha</small>&nbsp; <small
                                                class="text-muted">Jan 23 2019</small><br> <small
                                                class="text-muted">medium.com</small>
                                            <p style="font-size: 15px;">we have used decorator based validation in the reactive form via the model object. Let’s extend the discussion on decorator based validation in Angular reactive form.
                                                Here, we will discuss the new way of FormGroup data binding with nested FormGroup and FormArray </p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://medium.com/angular-in-depth/new-way-to-validate-the-angular-reactive-form-2c4fe4f13373">
                                            <h4>New Way to Validate the Angular Reactive Form.</h4>
                                            <small style="font-size: 108%;">Ajay Ojha</small>&nbsp; <small
                                                class="text-muted">Jan 7 2019</small><br> <small
                                                class="text-muted">medium.com</small>
                                            <p style="font-size: 15px;">Here, We will discuss model object based reactive form validation, which overcomes the current challenges of angular reactive forms. </p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row page-section" id="our-vision">
                                <div class="col-lg-12 article-card" style="padding: 28px;">

                                    <div><a target="_blank"
                                            href="https://medium.com/@oojhaajay/angular-reactive-form-validation-with-rxweb-validation-decorators-e943fa85d67c">
                                            <h4>Angular Reactive Form Validation with rxweb validation decorators.</h4>
                                            <small style="font-size: 108%;">Ajay Ojha</small>&nbsp; <small
                                                class="text-muted">Jul 22 2018</small><br> <small
                                                class="text-muted">medium.com</small>
                                            <p style="font-size: 15px;">Take the advantage of @rxweb/reactive-form-validators library validation decorators within the Angular based application without writing a much code in the component. </p>
                                        </a></div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-top-bar></app-top-bar>
</div>
<app-contribution></app-contribution>