<div>
  <form  [formGroup]="countryFormGroup">
    <div class="form-group">
      <label>Fourth Country Longitude</label>
      <input type="text" formControlName="fourthCountryLongitude" class="form-control"  />
      <small class="form-text text-muted">Shows custom message based on message key<br/></small>
	<small class="form-text text-danger" *ngIf="countryFormGroup.controls.fourthCountryLongitude.errors">{{countryFormGroup.controls.fourthCountryLongitude.errors.longitude.message}}<br/></small>
    </div>
    <button [disabled]="!countryFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
