<div>
  <form  [formGroup]="locationFormGroup">
    <div class="form-group">
      <label>SpanishCityName</label>
      <input type="text" formControlName="spanishcityName" class="form-control"  />
      <small class="form-text text-muted">It will allow spanish characters in the formControl<br/></small>
     <small class="form-text text-danger" *ngIf="locationFormGroup.controls.spanishcityName.errors">{{locationFormGroup.controls.spanishcityName.errors.alphaNumeric.message}}<br/></small>	
    </div>
    <button [disabled]="!locationFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
