<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Maximum Age</label>
	    <input type="text" name="maximumAge" [(ngModel)]="user.maximumAge"  class="form-control" />

	   <small class="form-text text-danger" *ngIf="userForm.controls?.maximumAge?.errors">{{userForm.controls?.maximumAge?.errors?.lessThanEqualTo.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
