<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>IsActive</label>&nbsp;
      <input type="text" name="isActive" [(ngModel)]="user.isActive"   [requiredTrue]="{'message':'This should be true.'}"/><br/>
      <small class="form-text text-muted">Shows Custom Validation Message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.isActive?.errors">{{userForm.controls?.isActive?.errors?.requiredTrue.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
