<div class="content">
    <div class="title-bar">
        <p>
            We like to appreciate the contribution of people who have helped the framework to enhance by their
            initiative thoughts and new feature requests, some of whom are described below.
        </p>
    </div>
    <div class="bg-white border-radius">
        <div class="row" style="padding-top: 2%">
            <div class="card">
                <div>
                    <h2 class="card-header">Zeeshan</h2> 
                    <div class="card-body px-0">
                        <div class="col-lg-2">
                            <img class="image" src="https://avatars2.githubusercontent.com/u/15047417?s=400&v=4"
                                alt="Zeeshan" width="150" height="150">

                            <div class="row links">
                                <a class="fa fa-github" style="margin-left: 12%" href="https://github.com/zeesulehria" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <p>Zeeshan is mostly involved in enhancing the current features and new features, also
                            he reviews the feature and test it before release.</p>
                        <h4>Zeeshan has suggested below features : </h4>
                        <ul>
                            <li>
                                <a href="https://github.com/rxweb/rxweb/issues/183" target="_blank">
                                    <h4>Resolve entity on demand</h4>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/rxweb/rxweb/issues/174" target="_blank">
                                    <h4>Exclude properties conditionally</h4>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/rxweb/rxweb/issues/170" target="_blank">
                                    <h4>add new property of <span class="highlighed">modifiedValue</span> in RxFormGroup</h4>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/rxweb/rxweb/issues/166" target="_blank">
                                    <h4>add a new method of <span class="highlighed">commit</span> in RxFormGroup</h4>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/rxweb/rxweb/issues/163" target="_blank">
                                    <h4>error binding strategy of FormControl</h4>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/rxweb/rxweb/issues/153" target="_blank">
                                    <h4>Generic property support in propObject and propArray</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="padding-top: 2%">
            <div class="card">
                <div>
                    <h2 class="card-header">Emmanuel De Saint Steban</h2>
                    <div class="card-body px-0">
                        <div class="col-lg-2">
                            <img class="image" src="https://avatars1.githubusercontent.com/u/1046806?s=400&v=4"
                                alt=" Emmanuel De Saint Steban" width="150" height="150">

                            <div class="row links">
                                <a class="fa fa-github" style="margin-left: 12%" href="https://github.com/zeesulehria"
                                    target="_blank"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <p>Steban is involved in suggesting ideas for features and also giving inputs for
                            the same.
                        </p>
                        <h4>Steban has suggested below features : </h4>
                        <ul>
                            <li>
                                <a href="https://github.com/rxweb/rxweb/pull/176" target="_blank">
                                    <h4>Return validation config conditionally.</h4>
                                </a>

                            </li>
                            <li>
                                <a href="https://github.com/rxweb/rxweb/issues/142" target="_blank">
                                    <h4>Clone parentObject to prevent error when form data</h4>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>