<div class="content">
    <div class="title-bar">
        <p>
            We would like to appreciate the contribution of people who have helped the framework to enhance by their
            creative thoughts and spend some time on the framework when they are available.
        </p>
    </div>
    <div class="bg-white border-radius hiddenBrains">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="">                    
                            <img class="image" src="https://avatars2.githubusercontent.com/u/15047417?s=400&v=4" alt="Zeeshan" width="150" height="150">
                        </div>
                        <div class="col-lg-9">
                            <h2 class="cardTitle">
                                <a href="https://github.com/zeesulehria" target="_blank">
                                    <i class="fa fa-github"></i>
                                    <span>Zeeshan</span>
                                </a>
                            </h2>
                            <p>Zeeshan has suggested the below features and also he reviews the feature and test it before release.</p>

                            <ul class="contribution-list">
                                <li>
                                    <a href="https://github.com/rxweb/rxweb/issues/183" target="_blank">
                                        <span class="nav-label">Resolve entity on demand</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/rxweb/rxweb/issues/174" target="_blank">
                                        <span class="nav-link">Exclude properties conditionally</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/rxweb/rxweb/issues/170" target="_blank">
                                        <span class="nav-link">add new property of <span
                                                class="highlighed">modifiedValue</span> in RxFormGroup</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/rxweb/rxweb/issues/166" target="_blank">
                                        <span class="nav-link">add a new method of <span
                                                class="highlighed">commit</span> in
                                            RxFormGroup</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/rxweb/rxweb/issues/163" target="_blank">
                                        <span class="nav-link">error binding strategy of FormControl</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/rxweb/rxweb/issues/153" target="_blank">
                                        <span class="nav-link">Generic property support in propObject and
                                            propArray</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">            
            <div class="col-xs-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="">
                            <img class="image" src="https://avatars1.githubusercontent.com/u/46292479?s=400&v=4"
                                alt="Sholka Jadav" width="150" height="150">
                        </div>
                        <div class="col-lg-9">                            
                            <h2 class="cardTitle">
                                <a href="https://github.com/zeesulehria" target="_blank">
                                    <i class="fa fa-github"></i>
                                    <span>Sholka Jadav</span>
                                </a>
                            </h2>
                            <p>Sholka has suggested the below features and also
                                gives feedbacks on the existing features and constantly reviewing the docs and helping
                                others on gitter as well as github issues.
                            </p>
                            <ul class="contribution-list">
                                <li>
                                    <a href="https://github.com/rxweb/rxweb/issues/141" target="_blank">
                                        <span class="nav-link">errorMessage property can be use without the inverted
                                            comma
                                            in the
                                            HTML
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://github.com/rxweb/rxweb/issues/140" target="_blank">
                                        <span class="nav-link">Strongly typed support of FormGroup value</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12">            
                <div class="card">
                    <div class="card-body">
                        <div class="">
                            <img class="image" src="https://avatars1.githubusercontent.com/u/1046806?s=400&v=4"
                                alt=" Emmanuel De Saint Steban" width="150" height="150">
                        </div>
                        <div class="col-lg-9">                          
                            <h2 class="cardTitle">
                                <a href="https://github.com/zeesulehria" target="_blank">
                                    <i class="fa fa-github"></i>
                                    <span>Emmanuel De Saint Steban</span>
                                </a>
                            </h2>                            
                            <p>Emmanuel has suggested the below features and also reviewed the code of the feature.
                            </p>
                            <ul class="contribution-list">
                                <li>
                                    <a href="https://github.com/rxweb/rxweb/issues/142" target="_blank">
                                        <span class="nav-link">Dynamic validation config.</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>