<div>
  <form #logininfoForm = "ngForm" [rxwebForm]="logininfoForm" [model]="logininfo">
    <div class="form-group">
      <label>Confirm Password</label>
	    <input type="text" name="confirmPassword" [(ngModel)]="logininfo.confirmPassword"  class="form-control" [password]="{'validation':{maxLength: 10,minLength: 5,digit: true,specialCharacter: true},'messageKey':'passwordMessageKey'}"/>

      <small class="form-text text-muted">Shows Custom Validation Message using message key<br/></small>
	   <small class="form-text text-danger" *ngIf="logininfoForm.controls?.confirmPassword?.errors">{{logininfoForm.controls?.confirmPassword?.errors?.password.message}}<br/></small>	
    </div>
    <button [disabled]="!logininfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
