<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Minimum Age</label>
	    <input type="text" name="minimumAge" [(ngModel)]="user.minimumAge"  class="form-control" [greaterThan]="{'value':18}"/>

	   <small class="form-text text-danger" *ngIf="userForm.controls?.minimumAge?.errors">{{userForm.controls?.minimumAge?.errors?.greaterThan.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
