<div>
  <form  *ngIf="attandanceDetailFormGroup"  [formGroup]="attandanceDetailFormGroup">
    <div class="form-group">
      <label>Entry Place</label>
      <input type="text" formControlName="entryPlace" class="form-control"   />
      <small class="form-text text-danger" *ngIf="attandanceDetailFormGroup.controls.entryPlace.errors">{{attandanceDetailFormGroup.controls.entryPlace.errors.minTime.message}}<br/></small>
    </div>
    <div class="form-group">
      <label>Opening Time</label>
      <input type="text" formControlName="openingTime" class="form-control"  />
     <small class="form-text text-danger" *ngIf="attandanceDetailFormGroup.controls.openingTime.errors">{{attandanceDetailFormGroup.controls.openingTime.errors.minTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Required Hours</label>
      <input type="text" formControlName="requiredHours" class="form-control"  />
      <small class="form-text text-muted">Value should be greater than 8:30<br/></small>
     <small class="form-text text-danger" *ngIf="attandanceDetailFormGroup.controls.requiredHours.errors">{{attandanceDetailFormGroup.controls.requiredHours.errors.minTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Total Time Out</label>
      <input type="text" formControlName="totalOutTime" class="form-control"  />
      <small class="form-text text-muted">This field allow seconds in input time.<br/></small>
     <small class="form-text text-danger" *ngIf="attandanceDetailFormGroup.controls.totalOutTime.errors">{{attandanceDetailFormGroup.controls.totalOutTime.errors.minTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Exit Time</label>
      <input type="text" formControlName="exitTime" class="form-control"  />
      <small class="form-text text-muted">Shows Custom Validation Message.<br/></small>
     <small class="form-text text-danger" *ngIf="attandanceDetailFormGroup.controls.exitTime.errors">{{attandanceDetailFormGroup.controls.exitTime.errors.minTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Net-In Time</label>
      <input type="text" formControlName="netInTime" class="form-control"  />
      <small class="form-text text-muted">Shows Custom Validation Message using message key<br/></small>
     <small class="form-text text-danger" *ngIf="attandanceDetailFormGroup.controls.netInTime.errors">{{attandanceDetailFormGroup.controls.netInTime.errors.minTimeMessageKey.message}}<br/></small>		
    </div>
    <button [disabled]="!attandanceDetailFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
