<div>
  <form #numberinfoForm = "ngForm" [rxwebForm]="numberinfoForm" [model]="numberinfo">
    <div class="form-group">
      <label>Fourth Number</label>
	    <input type="text" name="fourthNumber" [(ngModel)]="numberinfo.fourthNumber"  class="form-control" [primeNumber]="{'messageKey':'primeNumberMessageKey'}"/>

      <small class="form-text text-muted">Shows custom message using messageKey<br/></small>
	   <small class="form-text text-danger" *ngIf="numberinfoForm.controls?.fourthNumber?.errors">{{numberinfoForm.controls?.fourthNumber?.errors?.primeNumber.message}}<br/></small>	
    </div>
    <button [disabled]="!numberinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
