<div id="wrapper" *ngIf="showComponent">
    <div class="content">
        <div class="title-bar">
            <p><span class="highlighted">@rxweb/http</span> is used to interact with backend server APIs, It is
                beneficial to all client side frameworks having typescript.
                It is model driven approach of Rxhttp requests.</p>
        </div>

        <div class="bg-white border-radius" style="margin-top:22px;">
            <div class="row">
                <div class="col-lg-12">

                    <div class="hpanel">
                        <div class="tab-content fade show">
                            <div class="tab-pane panel-body validation-tab active">
                                <div class="row page-section" id="installpackage">
                                    <div class="col-lg-12">
                                        <h2>Install Package<a title="Link to this heading" class="link-header"><i
                                                    class="fa fa-link"></i></a></h2>

                                        <div class="model-ts">
                                            <div class="code">
                                                <a class="float-right copy-icon" ngxClipboard
                                                    [cbContent]="codeContent.installation"
                                                    (cbOnSuccess)="installationCopied = true"
                                                    [class.copied]="installationCopied"><i class="fa fa-files-o"
                                                        aria-hidden="true"></i></a>
                                                <div highlight="pre code">
                                                    <pre><code [textContent]="codeContent.installation"></code></pre>
                                                </div>
                                            </div>
                                        </div>
                                    <blockquote>
                                        <p>
                                          You dont need to register any module in app module after installation.  
                                        </p>
                                    </blockquote>
                                    </div>
                                </div>
                                <div class="row page-section" id="baseComponent">
                                    <div class="col-lg-12">
                                   
                                        <h2>Register HttpClientConfig<a title="Link to this heading" class="link-header"><i
                                                    class="fa fa-link"></i></a></h2>
                                                    <p>Register <span class="highlighted"><a routerLink="/rxweb-http/http/httpClientConfig">HttpClientConfig</a></span> globally in app component.
                                        
                                                    </p>
                                                    <p>
                                                        It is used to configure Client configuration properties throughout the application through which the interaction of request is done. 
                                                       </p>
                                                    <h4>Through HttpClientConfig you can configure</h4>
                                                    <div class="model-ts">
                                                        <div class="code">
                                                            <a class="float-right copy-icon" ngxClipboard
                                                                [cbContent]="codeContent.httpClientConfig"
                                                                (cbOnSuccess)="httpClientConfigCopied = true"
                                                                [class.copied]="httpClientConfigCopied"><i class="fa fa-files-o"
                                                                    aria-hidden="true"></i></a>
                                                            <div highlight="pre code">
                                                                <pre><code [textContent]="codeContent.httpClientConfig"></code></pre>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <ul>
                                                        <li><span class="highlighted">hostURIs</span> for setting the server side
                                                            uri
                                                        <p>In hostUri you need to configure</p>
                                                        <p>(1) name of the server</p>
                                                        <p>(2) setting default endpoint true if the name is not mentioned</p>                                    
                                                        <p> (3) uri of the server </p>
                                                        </li>
                                                        <li>apply <span class="highlighted">filters</span> for onRequest and
                                                            onResponse</li>
                                                            <p>(1) onRequest filter is used to perform some specific action before the request is sent to the server.</p>
                                                            <p>(2) onResponse filter is used to perform some specific action after the response is fetch from the server.</p>
                                                        <li>perform errorHandling while sending request to server through <span class="highlighted">onError</span>
                                                        </li>
                                                      
                                                    </ul>
                                                                        
                                    </div>
                                </div>
                                <div class="row page-section" id="baseComponent">
                                    <div class="col-lg-12">
                                        <h2>How to use<a title="Link to this heading" class="link-header"><i
                                                    class="fa fa-link"></i></a></h2>
                                         There are two approaches to use RxHttp methods
                                         <h4>Approach 1:</h4>
                                         <p>(1) Create object of <span class="highlighted">Rxhttp</span> in the component. </p>
                                         <div class="model-ts">
                                            <div class="code">
                                                <a class="float-right copy-icon" ngxClipboard
                                                    [cbContent]="codeContent.objectExample" (cbOnSuccess)="objectExampleCopied = true"
                                                    [class.copied]="objectExampleCopied"><i class="fa fa-files-o"
                                                        aria-hidden="true"></i></a>
                                                <div highlight="pre code">
                                                    <pre><code [textContent]="codeContent.objectExample"></code></pre>
                                                </div>
                                            </div>
                                        </div>
                                         <h4>Approach 2:</h4>
                                        <p>(1) Create a model class and extend it from <span class="highlighted">RxHttp</span></p>
                                        <div class="model-ts">
                                            <div class="code">
                                                <a class="float-right copy-icon" ngxClipboard
                                                    [cbContent]="codeContent.http" (cbOnSuccess)="httpCopied = true"
                                                    [class.copied]="httpCopied"><i class="fa fa-files-o"
                                                        aria-hidden="true"></i></a>
                                                <div highlight="pre code">
                                                    <pre><code [textContent]="codeContent.http"></code></pre>
                                                </div>
                                            </div>
                                        </div>
                                        <p>(2) Set <span class="highlighted"><a routerLink="/rxweb-http/http/decorators#http">@http</a></span> decorator on the class</p>                                        
                                        <p>(3) @http decorator is used to configure the host name and the path of the server api on which you want to make request from the component.</p>
                                        <p>(4) In http decorator you need to mention your <span
                                            class="highlighted">hostKey</span> which is the name of the server mentioned in httpClientConfig and <span class="highlighted">path</span> is the path of the specified controller or the path of the data to be accessed.</p>
                                          
                                          
                                        <p> Extend your component class from BaseComponent and use httpMethods into it 
                                        </p>
                                    
                                    
                                    
                                    </div>
                                </div>
                                <div class="row page-section" id="baseComponent">
                                    <div class="col-lg-12">
                                       
                                        <h4>Using RxHttp <span class="highlighted"><a routerLink="/rxweb-http/http/get">methods</a></span> for interacting with
                                            data.</h4>
                                        <p>There are several methods like get, post, put, delete in RxHttp. Here is an example of get method</p>
                                        <div class="model-ts">
                                            <div class="code">
                                                <a class="float-right copy-icon" ngxClipboard
                                                    [cbContent]="codeContent.getMethod"
                                                    (cbOnSuccess)="getMethodCopied = true"
                                                    [class.copied]="getMethodCopied"><i class="fa fa-files-o"
                                                        aria-hidden="true"></i></a>
                                                <div highlight="pre code">
                                                    <pre><code [textContent]="codeContent.getMethod"></code></pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>