<div>
  <form  [formGroup]="userInfoFormGroup">
    <div class="form-group">
      <label>CRBankAccountNumber</label>
      <input type="text" formControlName="cRBankAccountNumber" class="form-control"  />
      <small class="form-text text-muted">custom message based on messageKey<br/></small>
     <small class="form-text text-danger" *ngIf="userInfoFormGroup.controls.cRBankAccountNumber.errors">{{userInfoFormGroup.controls.cRBankAccountNumber.errors.ibanMessageKey.message}}<br/></small>		
    </div>
    <button [disabled]="!userInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
