<div class="">
  <h1 class="display-4">Pipe Examples
    <a routerLink="/ngx-translate-extension/pipe"><i class="fa fa-code"
        style="font-size: 20px;padding-left: 9px;"></i></a>
  </h1>
  <table class="table" width="100%">
    <thead>
      <tr>
        <th width="50%">Category</th>
        <th width="50%">Output</th>
      </tr>
    </thead>
    <tr>
      <td class="category">Simple Multilingual Text</td>
      <td>
        <span class="badge badge-{{translate.currentLang}}">

          {{ 'greet' | translate }}

        </span>
      </td>
    </tr>

    <tr *ngIf="global.raw">
      <td class="category">Multilingual Text with Custom Parameter</td>
      <td>
        <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control">

        <span class="margin-left badge badge-{{translate.currentLang}}">

          {{'notification' | translate:{'name':name} }}

        </span>

      </td>
    </tr>

    <tr *ngIf="global.raw">
      <td class="category">Multilingual Text with Static Parameter </td>
      <td>
        <span class="margin-left badge badge-{{global.languageCode}}">
    
          {{global.raw.notification | rxTranslate:{'name':'Munad'} }}
    
        </span>
    
      </td>
    </tr>
    
    <tr *ngIf="global.raw">
      <td class="category">Multilingual Text with Dynamic Parameter </td>
      <td>
        <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control">
    
        <span class="margin-left badge badge-{{global.languageCode}}">
    
          {{global.raw.notification | rxTranslate:{'name':name} }}
    
        </span>
    
      </td>
    </tr>
    
    <tr>
      <td class="category">Bind the text on basis of translation name.</td>
      <td>
        <span class="badge badge-{{translate.currentLang}}">

          {{'dashboardHeading' | translate:{'translationName':'dashboard'} }}

        </span>
      </td>
    </tr>

    <tr>
      <td class="category">Bind text in fixed <span class="badge badge-fr pd-0">french</span>  language</td>
      <td>
        <span class="badge badge-fr">

          {{'note' | translate:{'lang':'fr'} }}

        </span>
      </td>
    </tr>

  </table>
</div>
