<div>
  <form #accountinfoForm = "ngForm" [rxwebForm]="accountinfoForm" [model]="accountinfo">
    <div class="form-group">
      <label>Recovery Email Address</label>
	    <input type="text" name="recoveryEmailAddress" [(ngModel)]="accountinfo.recoveryEmailAddress"  class="form-control" [different]="{'fieldName':'emailAddress','messageKey':'differentMessageKey'}"/>

      <small class="form-text text-muted">Custom message based on message key<br/></small>
	   <small class="form-text text-danger" *ngIf="accountinfoForm.controls?.recoveryEmailAddress?.errors">{{accountinfoForm.controls?.recoveryEmailAddress?.errors?.different.message}}<br/></small>	
    </div>
    <button [disabled]="!accountinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
