<app-top-bar></app-top-bar>

<div class="code-component hpanel extension">
  <div class="title-bar top_title"><p>Clean Code</p></div>
  <div class="title-bar">
    <p>
      Write Code with Fewer Lines 😉
    </p>
  </div>
  <div class="row page-section">
    <div class="col-lg-12">
      <p>
        We don't prefer to write the hefty of code for translation or load all language files even though it's not required except active language 😋. We fully focus on to provide consistent, mantainable and readable code base feature. All Open Source Packages are good, Here Just to give you a glimpse that how the code is readable and maintainable as comparing with other packages. You are the right person to decide which approach is much cleaner in terms of readability.

        Whatever features are providing in other packages those all features are available in the @rxweb/ngx-translate-extension package.

      </p>
      <h5>How different this package to  ___?</h5>
      <p>
        As such there are lots of different features are available, here we are just highlight the available features in the respective packages and how those can be achieved with @rxweb/translate package without writing the much code.

      </p>
      <h6>Transloco</h6>
      <ul>
        <li>Not compulsory to use 'OnPush' Change detection stratergy.</li>
        <li>Simple Object property is used for binding the multilingual text instead of using the Impure Pipes, Method, Attribute Directive.</li>
        <li>One Time Configuration through out application.</li>
        <li>Zero Multiple package dependency.</li>
        <li>Zero Subscription for Language Change or other necessary things.</li>
        <li>Not required to use '''ng-container''' for resolving multiple translations.</li>
        <li>Template Code is much simple, as there is no need to pass the parameter for translate text interpolation or write the conditional code in the HTML template.</li>
      </ul>
      <h6>Angular-L10n</h6>
      <ul>
        <li>Zero Subscription.</li>
        <li>Pure Pipe works well without passing the Language Code as additional parameter.</li>
        <li>Binds the FormControl Error Messages without using the Pipes.</li>
      </ul>
      <h6>Angular-I18next</h6>
      <ul>
        <li>No need to set the additional configuration on Routes.</li>
        <li>Automatically Format the Text without passing the parameters or formatter name in HTML template.</li>
      </ul>
    </div>
  </div>
</div>
