<h4 class="example-title">{{global.loginTitle}}</h4>
<form class="work-sanslight mg-left-5 form-font-size">
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">{{global.text.userName}}</label>
    <div class="col-sm-10">
      <input type="text" [placeholder]="global.placeholder.userName" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">{{global.text.password}}</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" [placeholder]="global.placeholder.password">
    </div>
  </div>
  <button type="submit" class="btn only-border padding-zero">{{global.text.signIn}}</button>
</form>