<div>
  <form  [formGroup]="companyInfoFormGroup">
    <div class="form-group">
      <label>Amazon Corporation Cusip Code</label>
      <input type="text" formControlName="amazonCorporationCusipCode" class="form-control"  />
      <small class="form-text text-muted">enter 9-character alphanumeric cusip Code only<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	<small class="form-text text-danger" *ngIf="companyInfoFormGroup.controls.amazonCorporationCusipCode.errors">{{companyInfoFormGroup.controls.amazonCorporationCusipCode.errors.cusip.message}}<br/></small>
    </div>
    <button [disabled]="!companyInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
