<div>
  <form #userinfoForm = "ngForm" [rxwebForm]="userinfoForm" [model]="userinfo">
    <div class="form-group">
      <label>Passport</label>
	    <input type="file" name="passport"  [(ngModel)]="userinfo.passport"  class="form-control" [rximage]="{'maxHeight':100,'maxWidth':100,'messageKey':'imageMessageKey'}"/>

	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.passport?.errors">{{userinfoForm.controls?.passport?.errors?.image.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
