<div>
  <form #resultinfoForm = "ngForm" [rxwebForm]="resultinfoForm" [model]="resultinfo">
    <div class="form-group">
      <label>Economics</label>
	    <input type="text" name="economics" [(ngModel)]="resultinfo.economics"  class="form-control" />

      <small class="form-text text-muted">Shows Custom Validation Message using message key<br/></small>
	   <small class="form-text text-danger" *ngIf="resultinfoForm.controls?.economics?.errors">{{resultinfoForm.controls?.economics?.errors?.minNumber.message}}<br/></small>	
    </div>
    <button [disabled]="!resultinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
