<div>
  <form  *ngIf="addressInfoFormGroup"  [formGroup]="addressInfoFormGroup">
    <div class="form-group">
      <label>Country Name</label>
      <input type="text" formControlName="countryName" class="form-control"   />
      <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.countryName.errors">{{addressInfoFormGroup.controls.countryName.errors.alpha.message}}<br/></small>
    </div>
    <div class="form-group">
      <label>City</label>
      <input type="text" formControlName="cityName" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'City' then you need to add 'Country Name' input as 'India'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
     <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.cityName.errors">{{addressInfoFormGroup.controls.cityName.errors.alpha.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>SpanishCityName</label>
      <input type="text" formControlName="spanishcityName" class="form-control"  />
      <small class="form-text text-muted">It will allow spanish characters in the formControl<br/></small>
     <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.spanishcityName.errors">{{addressInfoFormGroup.controls.spanishcityName.errors.alpha.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>State Name</label>
      <input type="text" formControlName="stateName" class="form-control"  />
      <small class="form-text text-muted">This allowed whitespace in alphaAsync validation<br/></small>
     <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.stateName.errors">{{addressInfoFormGroup.controls.stateName.errors.alpha.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>State Code</label>
      <input type="text" formControlName="stateCode" class="form-control"  />
      <small class="form-text text-muted">Shows custom message<br/></small>
     <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.stateCode.errors">{{addressInfoFormGroup.controls.stateCode.errors.alpha.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>City Code</label>
      <input type="text" formControlName="cityCode" class="form-control"  />
      <small class="form-text text-muted">custom message based on messageKey<br/></small>
     <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.cityCode.errors">{{addressInfoFormGroup.controls.cityCode.errors.alphaMessageKey.message}}<br/></small>		
    </div>
    <button [disabled]="!addressInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
