<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Contact Number</label>
	    <input type="text" name="contactNumber" [(ngModel)]="user.contactNumber"  class="form-control" [rxmask]="{'mask':'999-9999999','message':'Enter a valid Contact Number'}"/>

	   <small class="form-text text-danger" *ngIf="userForm.controls?.contactNumber?.errors">{{userForm.controls?.contactNumber?.errors?.mask.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
