<div>
  <form #attandancedetailForm = "ngForm" [rxwebForm]="attandancedetailForm" [model]="attandancedetail">
    <div class="form-group">
      <label>Entry Place</label>
	    <input type="text" name="entryPlace" [(ngModel)]="attandancedetail.entryPlace"  class="form-control" />

	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.entryPlace?.errors">{{attandancedetailForm.controls?.entryPlace?.errors?.maxTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Closing Time</label>
	    <input type="text" name="closingTime" [(ngModel)]="attandancedetail.closingTime"  class="form-control" [rxmaxTime]="{'value':'23:30'}"/>

	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.closingTime?.errors">{{attandancedetailForm.controls?.closingTime?.errors?.maxTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Break Hours</label>
	    <input type="text" name="breakHours" [(ngModel)]="attandancedetail.breakHours"  class="form-control" [rxmaxTime]="{'operator':'<','value':'00:10'}"/>

      <small class="form-text text-muted">Value should be less than 00:10<br/></small>
	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.breakHours?.errors">{{attandancedetailForm.controls?.breakHours?.errors?.maxTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Entry Time</label>
	    <input type="text" name="entryTime" [(ngModel)]="attandancedetail.entryTime"  class="form-control" [rxmaxTime]="{'conditionalExpression':'x => x.entryPlace == \'Main Entry Gate\'','value':'11:00'}"/>

      <small class="form-text text-muted">To apply the validation of maxTime on 'Entry Time' field, then enter the value of 'Main Entry Gate' in Entry Place textbox.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.entryTime?.errors">{{attandancedetailForm.controls?.entryTime?.errors?.maxTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Total Time Out</label>
	    <input type="text" name="totalOutTime" [(ngModel)]="attandancedetail.totalOutTime"  class="form-control" [rxmaxTime]="{'allowSeconds':true,'value':'02:00:00'}"/>

      <small class="form-text text-muted">This field allow seconds in input time.<br/></small>
	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.totalOutTime?.errors">{{attandancedetailForm.controls?.totalOutTime?.errors?.maxTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Exit Time</label>
	    <input type="text" name="exitTime" [(ngModel)]="attandancedetail.exitTime"  class="form-control" [rxmaxTime]="{'message':'You can enter only time format data','fieldName':'closingTime'}"/>

      <small class="form-text text-muted">Shows Custom Validation Message.<br/></small>
	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.exitTime?.errors">{{attandancedetailForm.controls?.exitTime?.errors?.maxTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Net-In Time</label>
	    <input type="text" name="netInTime" [(ngModel)]="attandancedetail.netInTime"  class="form-control" [rxmaxTime]="{'messageKey':'maxTimeMessageKey','fieldName':'totalInTime'}"/>

      <small class="form-text text-muted">Shows Custom Validation Message using message key<br/></small>
	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.netInTime?.errors">{{attandancedetailForm.controls?.netInTime?.errors?.maxTime.message}}<br/></small>	
    </div>
    <button [disabled]="!attandancedetailForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
