<app-top-bar [sidebarLinks]="rightSidebarLinks"></app-top-bar>
<div class="title-bar top_title">
  <p>Change Language Options</p>
  <div class="code_git_right"><a target="_blank"
    href="https://github.com/rxweb/rxweb/tree/master/examples/client-side/angular/ngx-translate-extension/translation-powerhouse/src/app/change-language"><i
      class="fa fa-github fa-github-icon"></i></a></div>
</div>
<div class="title-bar">
  <p>Change the translation language mannually <b>programmatically</b> or through <b>URL</b> by adding language code in URL.</p>
</div>

<div class="bg-white border-radius" style="margin-top:40px;">
  <div class="row col-style">
    <div class="col-text-style"><span class="col-hash-text-brown" data-toggle="tooltip"
        title="Hi! I am use, one of the methods of TranslateService 😊. You can use me for changing language programmatically. Just pass the language as a parameter in me, and you're all set 🤝"
        data-placement="top"><i class="fa fa-info-circle" aria-hidden="true"></i> </span>Through Program
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-8">
      <div class="row ">
        <div class="col-md-2">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <!-- <a class="nav-link active" id="v-pills-profile-paramater-tab" style="font-size: 11px;" data-toggle="pill"
              href="#v-pills-profile-paramater" role="tab" aria-controls="v-pills-profile-paramater"
              aria-selected="false">en.json</a> -->
            <a class="nav-link active" style="font-size: 11px;" id="v-pills-component-program-tab" data-toggle="pill"
              href="#v-pills-component-program" role="tab" aria-controls="v-pills-component-program"
              aria-selected="false">*.component.ts</a>
            <a class="nav-link" style="font-size: 11px;" id="v-pills-messages-program-tab" data-toggle="pill"
              href="#v-pills-messages-program" role="tab" aria-controls="v-pills-messages-program"
              aria-selected="false">*.component.html</a>
          </div>
        </div>
        <div class="col-md-10 remove-col-padding">
          <div class="tab-content" id="v-pills-tabContent">
            <!-- <div class="tab-pane fade show active" id="v-pills-profile-paramater" role="tabpanel"
              aria-labelledby="v-pills-profile-paramater-tab">
              <div class="code-section p-0">
                <app-code-display innerHtml="json" [item]="examples.paramater"></app-code-display>
              </div>
            </div> -->
            <div class="tab-pane fade show active" id="v-pills-component-program" role="tabpanel"
              aria-labelledby="v-pills-component-program-tab">
              <div class="code-section p-0">
                <app-code-display innerHtml="typescript" [item]="examples.program"></app-code-display>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-messages-program" role="tabpanel"
              aria-labelledby="v-pills-messages-program-tab">
              <div class="code-section p-0">
                <app-code-display innerHtml="html" [item]="examples.program"></app-code-display>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 remove-col-padding">
      <div>
        <div class="code_eg">Output</div>
        <div class="ngx-output">
       
        
         
          <p class="small ">
            <a class="blue-link" [class.active-language]="global.languageCode == 'en'" (click)="changeLanguage('en')">English</a>
            <a class="blue-link" [class.active-language]="global.languageCode == 'fr'" (click)="changeLanguage('fr')">French</a>
          </p>
          {{global.text}}
          <br />
          <br />
        </div>
      </div>
    </div>
   
  </div>
  <div class="row col-style">
    <div class="col-text-style"><span class="col-hash-text-brown" data-toggle="tooltip"
        title="Want URL based translation? I am here to help you ✌. Just set the languageCode before your last route, as you can see in above route 😉"
        data-placement="top"><i class="fa fa-info-circle" aria-hidden="true"></i> </span>By URL
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-8">
      <div class="row ">
        <div class="col-md-2">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <!-- <a class="nav-link active" id="v-pills-profile-array-tab" style="font-size: 11px;" data-toggle="pill"
              href="#v-pills-profile-array" role="tab" aria-controls="v-pills-profile-array"
              aria-selected="false">en.json</a> -->
            <a class="nav-link active" style="font-size: 11px;" id="v-pills-component-url-tab" data-toggle="pill"
              href="#v-pills-component-url" role="tab" aria-controls="v-pills-component-url"
              aria-selected="false">*.component.ts</a>
            <a class="nav-link" style="font-size: 11px;" id="v-pills-messages-url-tab" data-toggle="pill"
              href="#v-pills-messages-url" role="tab" aria-controls="v-pills-messages-url"
              aria-selected="false">*.component.html</a>
          </div>
        </div>
        <div class="col-md-10 remove-col-padding">
          <div class="tab-content" id="v-pills-tabContent">
            <!-- <div class="tab-pane fade show active" id="v-pills-profile-array" role="tabpanel"
              aria-labelledby="v-pills-profile-array-tab">
              <div class="code-section p-0">
                <app-code-display innerHtml="json" [item]="examples.array"></app-code-display>
              </div>
            </div> -->
            <div class="tab-pane fade show active" id="v-pills-component-url" role="tabpanel"
              aria-labelledby="v-pills-component-url-tab">
              <div class="code-section p-0">
                <app-code-display innerHtml="typescript" [item]="examples.url"></app-code-display>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-messages-url" role="tabpanel"
              aria-labelledby="v-pills-messages-url-tab">
              <div class="code-section p-0">
                <app-code-display innerHtml="html" [item]="examples.url"></app-code-display>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 remove-col-padding">
      <div>
        <div class="code_eg">Output</div>
        <div class="ngx-output">
          <p class="small ">
            <a class="blue-link" [class.active-language]="activeLanguage  == 'en'" (click)="navigate('en')">English</a>
            <a class="blue-link" [class.active-language]="activeLanguage  == 'fr'" (click)="navigate('fr')">French</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>