<div>
  <form  [formGroup]="userInfoFormGroup">
    <div class="form-group">
      <label>Excel Files</label>
      <input type="file" formControlName="excelFiles" class="form-control" multiple />
      <small class="form-text text-muted">custom message based on messageKey<br/></small>
     <small class="form-text text-danger" *ngIf="userInfoFormGroup.controls.excelFiles.errors">{{userInfoFormGroup.controls.excelFiles.errors.fileMessageKey.message}}<br/></small>		
    </div>
    <button [disabled]="!userInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
