<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>IP V6 Custom Message Key</label>
      <input type="text" formControlName="ipV6MessageKey" class="form-control"  />
      <small class="form-text text-muted">This field only allows ip version 6 input and shows custom validation message based on message key.<br/></small>
     <small class="form-text text-danger" *ngIf="userFormGroup.controls.ipV6MessageKey.errors">{{userFormGroup.controls.ipV6MessageKey.errors.ipMessageKey.message}}<br/></small>		
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
