<div>
  <form  *ngIf="userInfoFormGroup"  [formGroup]="userInfoFormGroup">
    <div class="form-group">
      <label>Is Checked</label>&nbsp;
      <input type="checkbox" formControlName="isChecked" /><br/>
     <small class="form-text text-danger" *ngIf="userInfoFormGroup.controls.isChecked.errors">{{userInfoFormGroup.controls.isChecked.errors.requiredTrue.message}}<br/></small>	
    </div>
    <button [disabled]="!userInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
