<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>FirstName</label>
	    <input type="text" name="firstName" [(ngModel)]="user.firstName"  class="form-control" />

	   <small class="form-text text-danger" *ngIf="userForm.controls?.firstName?.errors">{{userForm.controls?.firstName?.errors?.mask.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>ZipCode</label>
	    <input type="text" name="zipcode" [(ngModel)]="user.zipcode"  class="form-control" [rxmask]="{'mask':'9999','conditionalExpression':'x => x.firstName == \'Bharat\''}"/>

      <small class="form-text text-muted">If you want to apply conditionalExpression on 'ZipCode', then enter 'Bharat' in 'First Name'<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.zipcode?.errors">{{userForm.controls?.zipcode?.errors?.mask.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
