<div>
  <form #hexcolorinfoForm = "ngForm" [rxwebForm]="hexcolorinfoForm" [model]="hexcolorinfo">
    <div class="form-group">
      <label>Title Hexcode</label>
	    <input type="text" name="titleHexcolorCode" [(ngModel)]="hexcolorinfo.titleHexcolorCode"  class="form-control" />

      <small class="form-text text-muted">Custom message based on message key<br/></small>
	   <small class="form-text text-danger" *ngIf="hexcolorinfoForm.controls?.titleHexcolorCode?.errors">{{hexcolorinfoForm.controls?.titleHexcolorCode?.errors?.hexColor.message}}<br/></small>	
    </div>
    <button [disabled]="!hexcolorinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
