<div>
  <form #countryForm = "ngForm" [rxwebForm]="countryForm" [model]="country">
    <div class="form-group">
      <label>Fourth Country</label>
	    <input type="text" name="fourthCountry" [(ngModel)]="country.fourthCountry"  class="form-control" [latLong]="{'messageKey':'latLongMessageKey'}"/>

      <small class="form-text text-muted">Shows custom message based on message key.<br/></small>
	   <small class="form-text text-danger" *ngIf="countryForm.controls?.fourthCountry?.errors">{{countryForm.controls?.fourthCountry?.errors?.latLong.message}}<br/></small>	
    </div>
    <button [disabled]="!countryForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
