<div>
  <form  [formGroup]="hexcolorInfoFormGroup">
    <div class="form-group">
      <label>Title Hexcode</label>
      <input type="text" formControlName="titleHexcolorCode" class="form-control"  />
      <small class="form-text text-muted">Custom message based on message key<br/></small>
	<small class="form-text text-danger" *ngIf="hexcolorInfoFormGroup.controls.titleHexcolorCode.errors">{{hexcolorInfoFormGroup.controls.titleHexcolorCode.errors.hexColor.message}}<br/></small>
    </div>
    <button [disabled]="!hexcolorInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
