<div>
  <form  [formGroup]="attandanceDetailFormGroup">
    <div class="form-group">
      <label>Entry Place</label>
      <input type="text" formControlName="entryPlace" class="form-control"  />
     <small class="form-text text-danger" *ngIf="attandanceDetailFormGroup.controls.entryPlace.errors">{{attandanceDetailFormGroup.controls.entryPlace.errors.maxTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Closing Time</label>
      <input type="text" formControlName="closingTime" class="form-control"  />
     <small class="form-text text-danger" *ngIf="attandanceDetailFormGroup.controls.closingTime.errors">{{attandanceDetailFormGroup.controls.closingTime.errors.maxTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Total In Time</label>
      <input type="text" formControlName="totalInTime" class="form-control"  />
      <small class="form-text text-muted">To apply the validation of maxTime on 'Total In Time' field, then enter the value of 'Main Entry Gate' in Entry Place textbox.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
     <small class="form-text text-danger" *ngIf="attandanceDetailFormGroup.controls.totalInTime.errors">{{attandanceDetailFormGroup.controls.totalInTime.errors.maxTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Entry Time</label>
      <input type="text" formControlName="entryTime" class="form-control"  />
      <small class="form-text text-muted">To apply the validation of maxTime on 'Entry Time' field, then enter the value of 'Main Entry Gate' in Entry Place textbox.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
     <small class="form-text text-danger" *ngIf="attandanceDetailFormGroup.controls.entryTime.errors">{{attandanceDetailFormGroup.controls.entryTime.errors.maxTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Total Time Out</label>
      <input type="text" formControlName="totalOutTime" class="form-control"  />
      <small class="form-text text-muted">This field allow seconds in input time.<br/></small>
     <small class="form-text text-danger" *ngIf="attandanceDetailFormGroup.controls.totalOutTime.errors">{{attandanceDetailFormGroup.controls.totalOutTime.errors.maxTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Exit Time</label>
      <input type="text" formControlName="exitTime" class="form-control"  />
      <small class="form-text text-muted">Shows Custom Validation Message.<br/></small>
     <small class="form-text text-danger" *ngIf="attandanceDetailFormGroup.controls.exitTime.errors">{{attandanceDetailFormGroup.controls.exitTime.errors.maxTime.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Net-In Time</label>
      <input type="text" formControlName="netInTime" class="form-control"  />
      <small class="form-text text-muted">Shows Custom Validation Message using message key<br/></small>
     <small class="form-text text-danger" *ngIf="attandanceDetailFormGroup.controls.netInTime.errors">{{attandanceDetailFormGroup.controls.netInTime.errors.maxTimeMessageKey.message}}<br/></small>		
    </div>
    <button [disabled]="!attandanceDetailFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
