<div class="title page-section content" id="{{title | lowercase }}">
    <h1><span>{{title}}</span><a class="link-header" title="Link to this heading" href="{{linkHref}}#{{title}}"><i class="fa fa-link"></i></a>
        <div class="hpanel">
            <ul class="nav nav-tabs page-tabs ng-star-inserted" *ngIf="mainType !== 'community' && mainType !== 'changelog'">
                <li class=" ng-star-inserted" [class.active]="activeTab == 'validators'" *ngIf="(mainType == 'form-validations' || mainType == 'how-to')  && validationName !== 'rule' && validationName !== 'async' && validationName !== 'stronglyType'">
                    <a (click)="route('validators')">Validator</a>
                </li>
                <li class="ng-star-inserted" [class.active]="activeTab == 'template-driven' && templateDrivenType == 'directives'" *ngIf="mainType == 'form-validations' && (validationName !== 'pattern' && validationName !== 'unique'  && validationName !== 'ip' && validationName !== 'compose' && validationName !== 'allOf' && validationName !== 'oneOf' && validationName !== 'noneOf' && validationName !== 'choice' && validationName !== 'async' && validationName !== 'rule' )">
                    <a (click)="route('template-driven','directives')">Template Driven</a>
                </li>
                <li class="ng-star-inserted"[class.active]="activeTab == 'decorators'" *ngIf="validationName !== 'ip' && validationName !== 'compose'  && validationName !== 'conditionalValidation'" >
                    <a (click)="route('decorators')">Decorator</a>
                </li>
                <li class="ng-star-inserted" [class.active]="activeTab == 'template-driven' && templateDrivenType == 'decorators'" *ngIf="mainType == 'form-validations' && (validationName !== 'pattern' && validationName !== 'unique'  && validationName !== 'ip' && validationName !== 'compose' && validationName !== 'allOf' && validationName !== 'oneOf' && validationName !== 'noneOf' && validationName !== 'choice' && validationName !== 'async' && validationName !== 'rule')">
                    <a (click)="route('template-driven','decorators')">Template Decorator</a>
                </li></ul></div></h1></div>

