<div>

    <select (click)="changeLanguage($event.target.value)">
        <option value="en">English</option>
        <option value="fr">French</option>
    </select>
    <div>
        <form [formGroup]="userInfoFormGroup">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" formControlName="firstName" class="form-control" />
                {{userInfoFormGroup.controls.firstName['errorMessage']}}

            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input type="text" formControlName="userName" class="form-control" />
                {{userInfoFormGroup.controls.userName['errorMessage']}}

            </div>

            <button [disabled]="!userInfoFormGroup.valid" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>