<div>
        <form  [formGroup]="userFormGroup">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control"  />
            <small class="form-text text-muted">If you want to apply conditional validation on 'Country Code' or 'City' then you need to add this input as 'India'.<br/></small>
           <small class="form-text text-danger" *ngIf="userFormGroup.controls.firstName.errors">{{userFormGroup.controls.firstName.errorMessage}}<br/></small>	
          </div>
          <div class="form-group">
            <label>Age</label>
            <input type="text" formControlName="age" class="form-control"  />
            <small class="form-text text-muted">If you want to apply conditional validation on 'Age' then you need to add 'First Name' input as 'Bharat'.<br/></small>
            <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
           <small class="form-text text-danger" *ngIf="userFormGroup.controls.age.errors">{{userFormGroup.controls.age.errorMessage}}<br/></small>	
          </div>
          <div class="form-group">
            <label>City</label>
            <input type="text" formControlName="city" class="form-control"  />
            <small class="form-text text-muted">If you want to apply conditional validation on 'City' then you need to add 'First Name' input as 'Bharat'.<br/></small>
            <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
           <small class="form-text text-danger" *ngIf="userFormGroup.controls.city.errors">{{userFormGroup.controls.city.errorMessage}}<br/></small>	
          </div>
          <div class="form-group">
            <label>Country Name</label>
            <input type="text" formControlName="countryName" class="form-control"  />
            <small class="form-text text-muted">This allowed whitespace in compose validation<br/></small>
           <small class="form-text text-danger" *ngIf="userFormGroup.controls.countryName.errors">{{userFormGroup.controls.countryName.errorMessage}}<br/></small>	
          </div>
          <div class="form-group">
                <label>Country Code</label>
                <input type="text" formControlName="countryCode" class="form-control"  />
                <small class="form-text text-muted">The value should be unique(other than IND)<br/></small>
               <small class="form-text text-danger" *ngIf="userFormGroup.controls.countryCode.errors">{{userFormGroup.controls.countryCode.errorMessage}}<br/></small>	
              </div>
          <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
        </form>
      </div>
      