<div>
    <form  [formGroup]="userFormGroup">
     <div class="form-group">
      <label>FirstName</label>
      <input type="text" formControlName="firstName" class="form-control"  />   
    </div>

       <div class="form-group" [formGroup]="userFormGroup.controls.address">
      <label>areaName</label>
      <input type="text" formControlName="areaName" class="form-control"  />   
    </div>
  <div class="form-group" [formGroup]="hobbyGroup" *ngFor="let hobbyGroup of getFormArray()">
      <label>Name</label>
      <input type="text" formControlName="name" class="form-control"  />      
    </div>
      <button [disabled]="!userFormGroup.valid"  class="btn btn-primary">Submit</button>
       <button (click)="resetForm()"  class="btn btn-primary">Reset</button>
    </form>
  </div>
  