<div>
  <form #addressinfoForm = "ngForm" [rxwebForm]="addressinfoForm" [model]="addressinfo">
    <div class="form-group">
      <label>SpanishCityName</label>
	    <input type="text" name="spanishcityName" [(ngModel)]="addressinfo.spanishcityName"  class="form-control" [rxalpha]="{'locale':ValidationAlphabetLocale.spanish}"/>

      <small class="form-text text-muted">It will allow spanish characters in the formControl<br/></small>
	   <small class="form-text text-danger" *ngIf="addressinfoForm.controls?.spanishcityName?.errors">{{addressinfoForm.controls?.spanishcityName?.errors?.alpha.message}}<br/></small>	
    </div>
    <button [disabled]="!addressinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
