<ul class="quick-links list-unstyled">
        <li class="">
          <a class="more-links">     <i class="fa fa-bars" aria-hidden="true"></i>     </a>
          <ul class="list-unstyled" id="rightsidebar-items">
                <li class="nav-item" *ngFor="let item of sidebarLinks;let i = index" [class.d-flex]="i == 0" [class.border-none]="i == 0"  [class.sidebar-list]="item.subLink?.length > 0">
                    <a class="nav-link sidebar-link" [class.child-item-list]="item.subLink?.length > 0" href="#{{item.id}}"  (click)="scrollTo(item.id)">{{item.title}}</a>
                    <ul class="list-unstyled" [class.child-list]="item.subLink?.length > 0">
                        <li *ngFor="let obj of item.subLink" class="nav-item px-1"><a class="nav-link" href="#{{obj.id}}" (click)="scrollTo(obj.id)">{{obj.title}}</a></li>
                        
                    </ul>
                </li>
            </ul>
            </li>
        <li>
          <a target="_blank" href="{{gitEditUrl}}" class="edit-link"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </li>
        <li><a target="_blank" href="https://gitter.im/rxweb-project/rxweb"><i class="fa fa-commenting-o" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://github.com/rxweb/rxweb/"><i class="fa fa-github" aria-hidden="true"></i></a></li>
</ul>
<!-- 
<ul class="quick-links list-unstyled">
        <li class="">
          <a class="more-links">     <i class="fa fa-bars" aria-hidden="true"></i>     </a>
          <div *ngIf="mainType != 'changelog'">
                <ul class="list-unstyled" id="rightsidebar-items">
                    <li class="nav-item" *ngFor="let item of sidebarLinks;let i = index" [class.d-flex]="i == 0" [class.border-none]="i == 0"  [class.sidebar-list]="item.subLink?.length > 0">
                        <a class="nav-link sidebar-link" [class.child-item-list]="item.subLink?.length > 0" href="#{{item.id}}" [class.active]="i == 0" (click)="scrollTo(item.id)">{{item.title}}</a>
                            <a *ngIf="i == 0" target="_blank" rel="noopener" href="{{gitEditUrl}}" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <ul class="list-unstyled" [class.child-list]="item.subLink?.length > 0">
                            <li *ngFor="let obj of item.subLink" class="nav-item px-1"><a class="nav-link" href="#{{obj.id}}" (click)="scrollTo(obj.id)">{{obj.title}}</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
            </li>
        <li>
          <a href="#" class="edit-link"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a></li>
        <li><a href="#">b</a></li>
    </ul> -->
<hr /> <div><a href="www.rxweb.io"></a></div>
