<div>
    <form  [formGroup]="userFormGroup">
      <div class="form-group">
        <label>User Name</label>
        <input type="text" formControlName="userName" class="form-control"  />
       <small class="form-text text-danger">{{userFormGroup.controls.userName.errorMessage}}<br/></small>	
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="text" formControlName="password" class="form-control"  />
        
      <small class="form-text text-danger" *ngIf="userFormGroup.controls.password.errors">{{userFormGroup.controls.password.errorMessage}}<br/></small>
      </div>
  
    
        <div class="form-group" [formGroup]="userFormGroup.controls.address">
            <label>City</label>
            <input type="text" formControlName="city" class="form-control" />
            <small class="form-text text-danger" *ngIf="userFormGroup.controls.address.controls.city.errors">{{userFormGroup.controls.address.controls.city.errorMessage}}<br/></small>
        </div>
     
  
        <div class="form-group" [formGroup]="skillGroup" *ngFor="let skillGroup of getFormArray()">
            <label>SkillName</label>
            <input type="text" formControlName="skillName" class="form-control" />
            <small class="form-text text-danger" *ngIf="skillGroup.controls.skillName.errors">  {{skillGroup.controls.skillName.errorMessage}}<br/></small>
        </div>
   
      <button (click)="onSubmit()" class="btn btn-primary">Submit</button>
    </form>
  </div>
  