<div>
  <form [formGroup]="employeeInfoFormGroup">
    <div class="form-group">
      <label>Certifications</label>
      <div class="form-check" *ngFor="let tag of certificationsArray">
        <h4>
          <input (click)="addCertification($event.target)" type="checkbox" value="{{tag}}" /> {{tag}}
        </h4>
      </div>
      <br>
      <small class="form-text text-muted">choice validation using messageKey.</small><br>
      <small class="form-text text-danger" *ngIf="employeeInfoFormGroup.controls?.certifications?.errors">{{employeeInfoFormGroup.controls.certifications.errors.choice.message}}</small><br>
    </div>
    <button [disabled]="!employeeInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
