<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>IsActive</label>&nbsp;
      <input type="checkbox" formControlName="isActive" /> <br/>
      <small class="form-text text-muted">Shows Custom Validation Message.<br/></small>
     <small class="form-text text-danger" *ngIf="userFormGroup.controls.isActive.errors">{{userFormGroup.controls.isActive.errors.requiredTrue.message}}<br/></small>	
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
